
<td th:text="${#dates.format(product.createdTime, 'yyyy-MM-dd')}">2015年01月11日</td>
<script type="text/javascript" th:src="@{/js/maintain.js}"></script>
<td><a th:text="${product.name}" th:href="@{/provider/products/__${product.id}__?detail}">名称名称</a></td>
<td><span class="one-sort"
	th:text="${#strings.abbreviate(product.firstCategory.name,15)}">仪器</span>
	<span th:text="${#strings.abbreviate(product.secondCategory.name,15)}">生物芯片</span>
	<span th:text="${#strings.abbreviate(product.thirdCategory.name,15)}">芯片扫描仪</span>
</td>
<td>￥<i th:text="${product.price}"></i></td>
<td><a th:text="${product.status.getName()}"></a></td>
<i th:switch="${product.status.toString()}">
	<td class="show-wrap" th:attr="data-id=${product.id}"
	th:case="${'EXAMINE'}"><a class="blue revoke">撤销</a></td>
	<td class="show-wrap" th:attr="data-id=${product.id}" th:case="${'UP'}">
		<a class="blue down">下架</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="blue" th:href="'/provider/products/'+${product.id}+'?edit'">修改</a>
</td>
	<td class="show-wrap1" th:attr="data-id=${product.id}"
	th:case="${'DOWN'}"><a class="blue up">上架</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
		class="blue" th:href="'/provider/products/'+${product.id}+'?edit'">修改</a></td>
	<td class="show-wrap1" th:attr="data-id=${product.id}"
	th:case="${'NOT'}"><a class="blue up">上架</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
		class="blue" th:href="'/provider/products/'+${product.id}+'?edit'">修改</a></td>
</i>