<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content=""/>
  <title>商品维护</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}"/>
  <script th:src="@{/js/jquery-min.js}"></script>
   <meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
	<script type="text/javascript" th:src="@{/js/maintain.js}">
	</script>
</head>
<body>
	<div class="header" th:include="head/head">Head</div>
	<!-- header -->
	<div class="wrapper">
		<div class="self-wrap">
			<div class="gray-hd"><a class="blue">个人中心</a></div>
			<div class="mainwrapper clearfix">
				<div class="aside fl">
					<a href="/supplier/detail">个人资料</a>
					<a href="/provider/products?form" target="_blank">发布商品</a>
					<a class="active">商品维护</a>
					<a href="/provider/count">商品信息统计</a>
				</div>
				<div class="mainpanel fr">
					<div class="tabs-nav info-tabs bodr inherit">
						<a class="active" th:if="${status==null}" id="all">全部</a>
						<a th:if="${status!=null}" href="/provider/products" id="all">全部</a>
						<a class="active" th:if="${status!=null and status.toString()=='EXAMINE'}">审核中</a>
						<a th:if="${status==null || status.toString()!='EXAMINE'}" href="/provider/products/EXAMINE">审核中</a>
						<a class="active" th:if="${status !=null and status.toString()=='UP'}">已上架</a>
						<a th:if="${status==null || status.toString()!='UP'}" href="/provider/products/UP">已上架</a>
						<a class="active" th:if="${status!=null and status.toString()=='DOWN'}">已下架</a>
						<a th:if="${status==null || status.toString()!='DOWN'}" href="/provider/products/DOWN">已下架</a>
						<a class="active" th:if="${status!=null and status.toString()=='NOT'}">未通过</a>
						<a th:if="${status==null || status.toString()!='NOT'}" href="/provider/products/NOT">未通过</a>
					</div>
					<div class="tab-conts">
						<div class="tab-panel">
							<table class="bodr change-color save-table" style="width: 100%;">
								<thead>
									<tr>
										<th>提交日期</th>
										<th>产品名称</th>
										<th width="300">类别</th>
										<th>产品价格</th>
										<th>状态</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="product:${lists.getContent()}" th:id="'tr'+${product.id}" th:switch="${product.status.toString()}" >
										<td th:text="${#dates.format(product.createdTime, 'yyyy-MM-dd')}">2015年01月11日</td>
										<td><a th:text="${product.name}" th:href="@{/provider/products/__${product.id}__?detail}" target="view_window">名称名称</a></td>
										<td>
											<span class="one-sort" th:text="${#strings.abbreviate(product.firstCategory.name,15)}">仪器</span>
											<span th:text="${#strings.abbreviate(product.secondCategory.name,15)}">生物芯片</span>
											<span th:text="${#strings.abbreviate(product.thirdCategory.name,15)}">芯片扫描仪</span>
										</td>
										<td>￥<i th:text="${product.price}"></i></td>
										<td>
											<a th:text="${product.status.getName()}"></a>
										</td>
											<td  th:attr="data-id=${product.id}" th:case="${'EXAMINE'}">
													<a class="blue revoke">撤销</a>
											</td>
											<td  th:attr="data-id=${product.id}" th:case="${'UP'}">
													<a class="blue down">下架</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="blue modify" th:href="'/provider/products/'+${product.id}+'?edit'" target="_blank">修改</a>
											</td>
											<td  th:attr="data-id=${product.id}" th:case="${'DOWN'}">
													<a class="blue up">上架</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="blue modify" th:href="'/provider/products/'+${product.id}+'?edit'" target="_blank">修改</a>
											</td>
											<td  th:attr="data-id=${product.id}" th:case="${'NOT'}">
													<a class="blue up">上架</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="blue modify" th:href="'/provider/products/'+${product.id}+'?edit'" target="_blank">修改</a>
											</td>
									</tr>
								</tbody>
							</table>
						</div>						
					</div>
				</div>
			</div>
		</div>
	</div>
<div th:include="footer/footer"></div>
	<div class="fixed"></div>
	<div class="hide-wrap bodr" id="down">
		<div class="hide-con">
			<h2>该商品已上架，确认是否下架此商品</h2>
			<div class="foot-btn">
				<button class="btn green ft14" id="downOk">确认</button>
				<button class="btn default cancel" id="downCancel">取消</button>
			</div>
		</div>
	</div>
	<div class="hide-wrap bodr" id="revoke">
		<div class="hide-con">
			<h2>该商品正在审核，是否撤销</h2>
			<div class="foot-btn">
				<button class="btn green ft14" id="revokeOk">确认</button>
				<button class="btn default cancel" id="revokeCancel">取消</button>
			</div>
		</div>
	</div>
</body>
</html>	