<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content=""/>
  <title>商品修改</title>
  <meta name="_csrf" th:content="${_csrf.token}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />
  <meta name="_csrf_parameterName" th:content="${_csrf.parameterName}" />
  
  <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}"/>
  <script th:src="@{/js/jquery-min.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.ui.widget.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.iframe-transport.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.fileupload.js}"></script>
  <script th:src="@{/js/script.js}"></script>
  <script th:src="@{/js/searchCategory.js}"></script>
  <script th:src="@{/js/ckeditor/ckeditor.js}"></script>
  <script th:src="@{/js/ckeditor/adapters/jquery.js}"></script>
  <script th:src="@{/js/modifyAction.js}"></script>
	<script>
        $(function() {
    		var token = $("meta[name='_csrf']").attr("content");
            var parameter = $("meta[name='_csrf_parameterName']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

    		$(document).ajaxSend(function(e, xhr, options) {
    			xhr.setRequestHeader(header, token);
    		});
            $('#content').ckeditor({
                filebrowserUploadUrl : '/provider/img/upload?' + parameter + "=" + token,
                width : 630,
                height : 300
            });
            $('input[type="file"]').bind('fileuploadsubmit', function(e, data) {
                var self = $(this);
                data.formData = {
                    url : self.prev('input').val()
                };
            });

            $('input[type="file"]').fileupload({
                dataType : 'json',
                add : function(e, data) {
                    data.submit();
                },
                done : function(e, data) {
                    $(this).parent().parent().find("img").attr("src",data.result.files[0].url);
                    $('#coverImg').val(data.result.files[0].url);
                },
                progressall : function(e, data) {
                }
            });
            var formObj = $('form');
            var modify = $('#modify');
            console.log(formObj);
            var category = $("#firstCategory").val();
            var productId = modify.attr("data-id");
            switch(category){
    		case '仪器':
    			formObj.attr("action","/provider/instruments/"+productId+"?edit");
    			break;
    		case '试剂':
    			formObj.attr("action","/provider/reagents/"+productId+"?edit");
    			break;
    		case '耗材':
    			formObj.attr("action","/provider/consumables/"+productId+"?edit");
    			break;
    		case '服务':
    			formObj.attr("action","/provider/services/"+productId+"?edit");
    			break;
    		}
          	var secondCategory = $('#secondCategory');
          	var thirdCategory = $('#thirdCategory');
          	secondCategory.change(function(){
          		thirdCategory.empty();
          		$.ajax({
          			type : 'get',
          			url : '/ajaxProductCategory/'+secondCategory.val(),
          			success:function(data){
          				var str = '<option value="">请选择</option>';
          				$.each(data,function(key,val){
          					str = str+'<option value="'+val.id+'">'+val.name+'</option>';
          				});
          				thirdCategory.append(str);
          			},error:function(data){
          				alert("error");
          			}
          		});
          	});
          	$("#cancel").click(function(){
          		window.location.href="/provider/products";
          	});
        });
	</script>
</head>
<body>
	<div class="header">
		<div th:include="head/head :: head">Head</div>
	</div>
	<!-- header -->
	<div class="wrapper">
		<div class="self-wrap">
			<div class="gray-hd"><a class="blue">个人中心</a></div>
			<div class="mainwrapper clearfix">
				<div class="aside fl">
					<a href="/supplier/detail">个人资料</a>
					<a href="/provider/products?form">发布商品</a>
					<a class="active" href="/provider/products">商品维护</a>
					<a href="/provider/count">商品信息统计</a>
				</div>
				<div class="mainpanel bodr basic-info push-good fr" id="modify" th:attr="data-id=${product.id.toString()}">
					<form th:object="${product}" th:method="put" >	
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> 		
						<div class="form-group">
							<div class="fl">
							<label><i>*</i>产品名称</label>
							<input type="text" th:field="*{name}"/>
							<i class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></i>
							</div>
							<div class="fl">
							<label><i>*</i>产品型号</label>
							<input type="text" th:field="*{model}"/>
							<i class="error" th:if="${#fields.hasErrors('model')}" th:errors="*{model}"></i>
							</div>
						</div>
						<div class="form-group">
							<div class="fl">
							<label><i>*</i>产品规格/单位</label>
							<input type="text" th:field="*{specifications}"/>
							<i class="error" th:if="${#fields.hasErrors('specifications')}" th:errors="*{specifications}"></i>
							</div>
							<div class="fl">
							<label><i>*</i>品牌</label>
							<select class="w235" th:field="*{brand}">
								<option value="">请选择</option>
								<option th:each="brand:${brands}" th:text="${brand.name}" th:value="${brand.id}"></option>
							</select>
							<i class="error" th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}"></i>
							</div>
						</div>
						<div class="form-group">
							<div class="fl">
							<label><i>*</i>产地</label>
							<select class="w235" th:field="*{placeOfProduction}">
								<option value="">请选择</option>
								<option th:value="DOMESTIC">国产</option>
								<option th:value="IMPORTED">进口</option>
							</select>
							<i class="error" th:if="${#fields.hasErrors('placeOfProduction')}" th:errors="*{placeOfProduction}"></i>
							</div>
							<div class="fl">
							<label><i>*</i>价格</label>
							<input type="text" th:field="*{price}" />
							<i class="error" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></i>
							</div>
						</div>
						<div class="form-group">
							<div class="fl">
							<label><i>*</i>产品分类</label>
							<input style="width: 200px;" type="text" th:value="*{firstCategory.name}" id="firstCategory" disabled="disabled"/>
							</div>
							<div class="fl" style="padding-left: 13px;">
							<select class="w200" th:field="*{secondCategory}">
							<option value="">请选择</option>
								<option th:each="category:${seconds}" th:value="${category.id}" th:text="${category.name}"></option>
							</select>
							<i class="error" th:if="${#fields.hasErrors('secondCategory')}" th:errors="*{secondCategory}"></i>
							</div>
							<div class="fl">
							<select class="w200" th:field="*{thirdCategory}">
							<option value="">请选择</option>
								<option th:each="category:${thirds}" th:value="${category.id}" th:text="${category.name}"></option>
							</select>
							<i class="error" th:if="${#fields.hasErrors('thirdCategory')}" th:errors="*{thirdCategory}"></i>
							</div>
						</div>
						<div class="form-group">
							<div class="fl">
							<label>标签</label>							
							<input type="text" class="w630" th:field="*{label}"/>
							<i class="error" th:if="${#fields.hasErrors('label')}" th:errors="*{label}"></i>
							</div>
						</div>	
						<div class="form-group files">
							<label><i>*</i>商品图片</label> <img th:src="*{coverImg}" width="100" height="100" />
							<input type="hidden" th:field="*{coverImg}"/>
							<button id="uploadImg">
								<input type='file' name='file' th:attr="data-url=@{/provider/productImage}" /> <a href="#">选择文件</a>
							</button>
							<i class="error" th:if="${#fields.hasErrors('coverImg')}" th:errors="*{coverImg}"></i>
						</div>	
						<div class="form-group clearfix" style="height: 400px;">
							<label class="fl">产品介绍</label>							
							<div class="fl edit w630" style="height: 400px;">
								<textarea th:id="content" th:field="*{content.content}"></textarea>
							</div>
						</div>	
						<div class="point">
							<div class="red">[重要提示]</div>
							<p>1. 为了规范申捷电商平台信息发布，产品修改后需要重新通过审核，我们会在2-4小时内进行一次审核工作，网络繁忙时1个工作日内审核。</p>
							<p>2. 产品名称中只能包含一种产品，不得把产品系列当作单条产品发布；可加入型号，但不允许加入其它任何如联系方式、价格或“进口”“国产”“现货”等,或和产品名称无关的符号。否则，我们有权更改或删除。</p>
						</div>
						<div class="center">
							<button class="btn green">保存</button>	
							<button class="btn default" id="cancel">返回</button>	
						</div>						
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		© 1998 - 2015 SJ Inc. All Rights Reserved
	</div>
</body>
</html>	