<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<title>Insert title here</title>
<script type="text/javascript" th:src="@{/js/jquery-1.11.2.min.js}"></script>
<script type="text/javascript">
	$(function() {
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");

		$(document).ajaxSend(function(e, xhr, options) {
			xhr.setRequestHeader(header, token);
		});
	});
</script>
<script>
	$(function() {
		$('#captchaImg').click(function(event) {
			event.preventDefault();
			var self = $(this);
			var clone = self.clone(true);
			self.after(clone);
			self.remove();
		});
	});
</script>
</head>
<body>
		<form th:action="@{/provider/signup}" th:object="${user}" method="post" action="#">
			<label for="name">name:</label>
			<input type="text" th:field="*{name}" />
			<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
				name error
			</p>

			<label for="password">password:</label>
			<input type="text" th:field="*{password}" />

			<!-- <label for="confirmPassword">confirmPassword:</label>
			<input type="text" th:field="*{confirm}" />
			<p th:if="${#fields.hasErrors('confirm')}" th:errors="*{confirm}">
				confirm error
			</p> -->

			<label for="captcha">captcha:</label>
			<input type="text" th:field="*{captcha}" />
			<p th:if="${#fields.hasErrors('captcha')}" th:errors="*{captcha}">
				captcha error
			</p>

			<img id='captchaImg' alt="captcha" src="/captcha/img"/>
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
			<input type="submit"/>
		</form>
	</body>
</html>