<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<title>Insert title here</title>
<script type="text/javascript" th:src="@{/js/jquery-1.11.2.min.js}"></script>
<script type="text/javascript">
	$(function() {
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");

		$(document).ajaxSend(function(e, xhr, options) {
			xhr.setRequestHeader(header, token);
		});
	});
</script>
</head>
<body>
	<div>姓名：<font th:text="${employee.name}"></font></div>
	<div>年龄：<font th:text="${employee.age}"></font></div>
	<div>状态：<font th:text="${employee.activate}"></font></div>
	<div>状态：<font th:text="${employee.department.name}"></font></div>
	<div><a th:href="@{'/employees/'+${employee.id}+'?edit'}">我要修改它</a></div>
</body>
</html>