<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<title>Insert title here</title>
<script type="text/javascript" th:src="@{/js/jquery-1.11.2.min.js}"></script>
<script type="text/javascript">
	$(function() {
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");

		$(document).ajaxSend(function(e, xhr, options) {
			xhr.setRequestHeader(header, token);
		});
		$(".delete").click(function(event) {
			event.preventDefault();
			var href = $(this).attr("href");
			$("form").attr("action", href).submit();
			return false;
		});
	});
</script>
</head>
<body>
	<div th:each="employee:${employees}">
		id：<font th:text="${employee.id}"></font>
		姓名：<a th:text="${employee.name}" th:href="'/employees/'+${employee.id}"></a>&nbsp;
		年龄：<font th:text="${employee.age}"></font>&nbsp;
		部门：<font th:text="${employee.department.name}"></font> 
			<font th:text="${employee.activate}"></font> 
			<a th:href="@{'/employee/'+${employee.id}}" class="delete">删除它</a>
	</div>
	<form th:method="delete">
		<input type="hidden" th:name="${_csrf.parameterName}"
			th:value="${_csrf.token}" />
	</form>
	<div>
		<a href="/employees?form">添加一个</a>
	</div>
</body>
</html>