<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en">
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="description" content=""/>
		<title>商品搜索</title>
		<meta name="_csrf" th:content="${_csrf.token}" />
		<meta name="_csrf_header" th:content="${_csrf.headerName}" />
		<link type="text/css" rel="stylesheet" th:href="@{/css/global.css}"/>
		<script type="text/javascript" th:src="@{/js/jquery-min.js}"></script>
		<script type="text/javascript" th:src="@{/js/prompt.js}"></script>
		<script type="text/javascript" th:src="@{/js/script.js}"></script>
		<script type="text/javascript" th:src="@{/js/ajaxLogin-collection-products.js}"></script>
		<script type="text/javascript" th:src="@{/js/ajaxLogin-cart-products.js}"></script>
		<script type="text/javascript" th:src="@{/js/searchBrandContraction.js}"></script>
		<script type="text/javascript">
            $(function() {
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");
                $(document).ajaxSend(function(e, xhr, options) {
                    xhr.setRequestHeader(header, token);
                });
        		$(".hide-wrap").on("click",".ajaxLogin-close",function(){
        			$('.fixed').fadeOut();
        			$('.hide-wrap').fadeOut();
        			$('.hide-wrap').empty();
        		});
                $('.addCart').loginBeforeAjaxCart({
                    url : '/ajax/carts',
                    data : {
                        'productId' : $(this).attr("data-id"),
                        'number' : "1"
                    },
                    type : 'post',
                    dataType : 'json',
                    success : function(data) {
                        $('#includeHeader').load('/head');
                        if (data.data == "no authority") {
                        	promptError("对不起您没有权限");
                        }
                    },
                    error : function(data) {
                    	promptError("系统异常");
                    }
                });
                $('.coll').loginBeforeAjaxCollection({
                    url : '/ajax/preferProduct',
                    data : {
                        'id' : $(this).attr("data-id")
                    },
                    type : 'post',
                    success : function(data) {
                        $('#includeHeader').load('/head');
                        if (data == "no authority")
                        	promptError("对不起您没有权限");
                        else if (data == "duplicate")
                        	promptSuccess("该商品已被您收藏");
                        else if (data == "success")
                        	promptSuccess("添加收藏成功");
                    },
                    error : function(data) {
                    	promptError("系统异常");
                    }
                });

                $(".product").on("click", ".coll", function() {
                    var obj = $(this);
                    var productId = obj.attr("data-id");
                    coll(productId);
                });
                $(".product").on("click", ".nocoll", function() {
                    var obj = $(this);
                    var productId = obj.attr("data-id");
                    nocoll(productId);
                });

                $('input[type="radio"]').click(function() {
                    $('form').submit();
                });

                $(':checked').filter(function(e,target) {
                	var self=$(target);
					return !self.hasClass('no-show');
                }).each(function(n, target) {
                    var source = $(target);
                    var template = $('<a class="sel-tag"/>');
                    template.text(source.attr('data-label') + "：" + source.siblings('label').text());
                    template.append('<span class="icon-del" data-target="' + source.attr('id') + '"></span>');
                    $('div.selected').append(template);
                });

                $('a.sel-tag span').click(function(event) {
                    var source = $(event.target);
                    $('#' + source.attr('data-target')).prop('checked', false);
                    $('form').submit();
                });

                $('#tagSearch').click(function() {
                    $('form').submit();
                });

                $('.droplist span').click(function() {
                    var self = $(this);
                    var id = self.attr('data-id');
                    $('#' + id).prop("checked", true);
                    $('form').submit();
                });
            });
		</script>
	</head>
	<body>
		<div id="includeHeader" class="header" th:include="head/head">
			Head
		</div>
		<!-- header -->
		<div class="wrapper">
			<div th:include="productcategory/secondCategories">Head</div>
			<div class="gray-hd">
				<span>筛选商品 共<i th:text="${products.totalElements}">1222</i>件商品</span>
			</div>
			<div class="sort-group">
				<div class="selected">
					<label><b>筛选：</b></label>
				</div>
				<form th:object="${option}">
					<div id="brandSearch" class="search-select">
						<label><b>品牌：</b></label>
						<ul class="list-inline">
							<li th:each="brand : ${brands}">
								<input type="radio" th:field="*{brand}" th:value="${brand.name}" th:attr="data-label='品牌'"/>
								<label th:for="${#ids.prev('brand')}" th:text="${brand.name}">Heating</label>
							</li>
						</ul>
						<div id="more">
							<a type="button">更多</a><i class="icon-more"></i>
						</div>
						<div id="contraction">
							<a type="button">收起</a><i class="icon-contraction"></i>
						</div>
					</div>
					<div class="search-select">
						<label><b>产地：</b></label>
						<ul class="list-inline pack">
							<li>
								<input type="radio" th:field="*{original}" value="1" data-label="产地"/>
								<label for="original1">国产</label>
							</li>
							<li>
								<input th:field="*{original}" type="radio" value="0" data-label="产地"/>
								<label for="original2">进口</label>
							</li>
						</ul>
					</div>
					<div class="search-select">
						<label><b>价格：</b></label>
						<ul class="list-inline pack">
							<li>
								<input th:field="*{priceRange}" type="radio" name="radio" data-label="价格" value="1"/>
								<label for="priceRange1">0-3万</label>
							</li>
							<li>
								<input th:field="*{priceRange}" type="radio" name="radio" data-label="价格" value="2"/>
								<label for="priceRange2">3-5万</label>
							</li>
							<li>
								<input th:field="*{priceRange}" type="radio" name="radio" data-label="价格" value="3"/>
								<label for="priceRange3">5-8万</label>
							</li>
						</ul>
						<input type="hidden" th:field="*{thirdCategory}"/>
						<input type="hidden" th:field="*{secondCategory}"/>
						<input type="hidden" th:field="*{title}"/>
					</div>
					<div class="items-search">
						<label><b>标签：</b></label>
						<input type="text" class="bodr" th:field="*{tag}"/>
						<button id="tagSearch">
							搜索
						</button>
					</div>
					<div class="sort-radio">
						<input type="radio" value="PRICEDESC" th:field="*{sort}" th:id="priceDesc" class="no-show"/>
						<input type="radio" value="PRICEASC" th:field="*{sort}" th:id="priceAsc" class="no-show"/>
						<input type="radio" value="REVIEWDESC" th:field="*{sort}" th:id="reviewDesc" class="no-show"/>
						<input type="radio" value="REVIEWASC" th:field="*{sort}" th:id="reviewAsc" class="no-show"/>
						<input type="radio" value="CREATEDTIMEDESC" th:field="*{sort}" th:id="createdTimeDesc" class="no-show"/>
						<input type="radio" value="CREATEDTIMEASC" th:field="*{sort}" th:id="createdTimeAsc" class="no-show"/>
					</div>
				</form>
			</div>
			<div class="filter sorts-row">
				<ul>
					<li>
						<div class="sorts-drop">
							<i class="icon-sort lf15"></i>
							<span>价格</span>
							<div class="droplist">
								<span data-id="priceDesc">价格从高到低</span>
								<span data-id="priceAsc">价格从低到高</span>
							</div>
						</div>

					</li>
					<li>
						<div class="sorts-drop">
							<i class="icon-sort"></i>
							<span>评论数</span>
							<div class="droplist">
								<span data-id="reviewDesc">评论数从高到低</span>
								<span data-id="reviewAsc">评论数从低到高</span>
							</div>
						</div>
					</li>
					<li>
						<div class="sorts-drop">
							<i class="icon-sort"></i>
							<span>上架时间</span>
							<div class="droplist">
								<span data-id="createdTimeDesc">时间从高到低</span>
								<span data-id="createdTimeAsc">时间从低到高</span>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="items-list pro-list h300">
				<ul>
					<li class="bodr product" th:each="product:${products.getContent()}" >
						<a th:href="@{'/products/'+${product.id}}"> <img th:src="@{${product.imgurl}}" width="210" height="175"/> </a>
						<div class="pic-box">
							<div class="pic-row refer">
								<label>参考报价</label>
								<span> <b class="red ft14">￥<i th:text="${product.price}"></i></b> </span>
							</div>
							<div class="pic-row tit" th:text="${product.title}"></div>
							<div class="pic-row">
								<label>品牌：</label>
								<span th:text="${product.brand}"></span>
							</div>
							<div class="pic-row">
								<label >产地：</label>
								<span th:if="${product.original==0}" th:text="进口"></span>
								<span th:if="${product.original==1}" th:text="国产"></span>
							</div>
							<div class="pic-row">
								<label>型号：</label>
								<span th:text="${product.model}"></span>
							</div>
							<div class="pic-row bodr" th:id="'coll'+${product.id}">
								<a class="btn-cancel coll" th:attr="data-id=${product.id}">加入收藏</a>
								<a class="btn-cart addCart" th:attr="data-id=${product.id}">加入购物车</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="pagination">
				<div th:include="fragments/page::page(${viewpage})" class="l-pagination"></div>
			</div>

		</div>
		<div th:include="footer/footer"></div>
		<div class="fixed"></div>
		<div class="hide-wrap logo-small bodr"></div>
		<div class="prompt"></div>
	</body>
	<script>
		$(function(){
		   var checked_val= $('input:radio[name="sort"]:checked').val();
			if(checked_val=="PRICEDESC"){
				$('.sorts-drop').eq(0).find('i').show().addClass('descending');
			}else if(checked_val=="PRICEASC"){
				$('.sorts-drop').eq(0).find('i').show().addClass('ascending').removeClass('descending');
			}else if(checked_val=="REVIEWDESC"){
				$('.sorts-drop').eq(1).find('i').show().addClass('descending');
			}else if(checked_val=="REVIEWASC"){
				$('.sorts-drop').eq(1).find('i').show().addClass('ascending').removeClass('descending');
			}else if(checked_val=="CREATEDTIMEDESC"){
				$('.sorts-drop').eq(2).find('i').show().addClass('descending');
			}else if(checked_val=="CREATEDTIMEASC"){
				$('.sorts-drop').eq(2).find('i').show().addClass('ascending').removeClass('descending');
			}
		})
	</script>
</html>
