<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en">
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="description" content=""/>
		<title>仪器商品列表</title>
		<meta name="_csrf" th:content="${_csrf.token}" />
		<meta name="_csrf_header" th:content="${_csrf.headerName}" />
		<link type="text/css" rel="stylesheet" th:href="@{/css/global.css}"/>
		<script type="text/javascript" th:src="@{/js/jquery-min.js}"></script>
		<script type="text/javascript" th:src="@{/js/script.js}"></script>
		<script th:src="@{/js/searchForm.js}"></script>
		<script type="text/javascript">
            $(function() {
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");
                $(document).ajaxSend(function(e, xhr, options) {
                    xhr.setRequestHeader(header, token);
                });

                $('.addCart').click(function() {
                    var obj = $(this);
                    var product = obj.attr("data-id");
                    createCart(1, product);
                });
                function coll(productId) {
                    $.ajax({
                        type : 'post',
                        url : '/ajax/preferProduct/' + productId,
                        success : function(data) {
                            if (data == "success") {
                                var coll = $("#coll" + productId);
                                coll.empty();
                                var str = '<a class="btn-cancel nocoll" data-id="' + productId + '">取消收藏</a><a class="btn-cart addCart" data-id="' + productId + '">加入购物车</a>';
                                coll.append(str);
                            } else {
                                alert(data);
                            }
                        },
                        error : function(data) {
                            alert("error")
                        }
                    });
                }

                function nocoll(productId) {
                    $.ajax({
                        type : 'delete',
                        url : '/ajax/preferProduct/' + productId,
                        success : function(data) {
                            if (data == "success") {
                                var coll = $("#coll" + productId);
                                coll.empty();
                                var str = '<a class="btn-cancel coll" data-id="' + productId + '">加入收藏</a><a class="btn-cart addCart" data-id="' + productId + '">加入购物车</a>';
                                coll.append(str);
                            } else {
                                alert(data);
                            }
                        },
                        error : function(data) {
                            alert("error");
                        }
                    });
                }


                $(".product").on("click", ".coll", function() {
                    var obj = $(this);
                    var productId = obj.attr("data-id");
                    coll(productId);
                });
                $(".product").on("click", ".nocoll", function() {
                    var obj = $(this);
                    var productId = obj.attr("data-id");
                    nocoll(productId);
                });

                $('input[type="radio"]').click(function() {
                    $('form').submit();
                });

                $(':checked').each(function(n, target) {
                    var source = $(target);
                    var template = $('<a class="sel-tag"/>');
                    template.text(source.attr('data-label') + "："+source.siblings('label').text());
                    template.append('<span class="icon-del" data-target="' + source.attr('id') + '"></span>');
                    $('div.selected').append(template);
                });

                $('a.sel-tag span').click(function(event) {
                    var source = $(event.target);
                    $('#' + source.attr('data-target')).prop('checked', false);
                    $('form').submit();
                });

            });
		</script>
	</head>
	<body>

		<div>
			<div th:include="head/head :: head">
				Head
			</div>
		</div>
		<!-- header -->
		<div class="wrapper">
			<div class="crumb">
				<a href="/index">首页</a>
				<i>></i>
				<i>></i>
			</div>
			<div class="gray-hd">
				<a class="blue ft14">生物芯片</a>
				<span>筛选商品 共<i th:text="${products.totalElements}">1222</i>件商品</span>
			</div>
			<div class="sort-group">
				<div class="selected">
					<label><b>筛选：</b></label>
				</div>
				<form th:object="${option}">
					<div class="search-select">
						<label><b>品牌：</b></label>
						<ul class="list-inline">
							<li th:each="brand : ${brands}">
								<input type="radio" th:field="*{brand}" th:value="${brand.name}" th:attr="data-label='生物芯片'"/>
								<label th:text="${brand.name}" th:attr="for=${brand.name}">生物芯片</label>
							</li>
						</ul>
					</div>
					<div class="search-select">
						<label><b>产地：</b></label>
						<ul class="list-inline pack">
							<li>
								<input type="radio" th:field="*{original}" value="1" data-label="产地"/>
								<label for="original1">进口</label>
							</li>
							<li>
								<input th:field="*{original}" type="radio" value="0" data-label="产地"/>
								<label for="original2">中国</label>
							</li>
						</ul>
					</div>
					<div class="search-select">
						<label><b>价格：</b></label>
						<ul class="list-inline pack">
							<li>
								<input th:field="*{priceRange}" type="radio" name="radio" data-label="价格" value="1"/>
								<label for="priceRange1">1-3万</label>
							</li>
							<li>
								<input th:field="*{priceRange}" type="radio" name="radio" data-label="价格" value="2"/>
								<label for="priceRange2">3-5万</label>
							</li>
							<li>
								<input th:field="*{priceRange}" type="radio" name="radio" data-label="价格" value="3"/>
								<label for="priceRange3">5-8万</label>
							</li>
						</ul>
					</div>

				</form>
			</div>
			<div class="items-search">
				<label><b>标签：</b></label>
				<input type="text" class="bodr"/>
				<button>
					搜索
				</button>
			</div>
			<div class="filter">
				<a class="price">价格<i></i></a>
				<a>评论数</a>
				<a>上架时间</a>
			</div>
			<div class="items-list pro-list">
				<ul>
					<li class="bodr product" th:each="product:${products.content}" >
						<a th:href="@{'/products/'+${product.id}}"> <img th:src="@{${product.imgurl}}" width="210" height="175"/> </a>
						<div class="pic-box">
							<div class="pic-row refer">
								<label>参考报价</label>
								<span> <b class="red ft14">￥<i th:text="${product.price}"></i></b> </span>
							</div>
							<div class="pic-row tit" th:text="${product.title}"></div>
							<div class="pic-row">
								<label>品牌：</label>
								<span th:text="${product.brand}"></span>
							</div>
							<div class="pic-row">
								<label >产地：</label>
								<span th:text="${product.original}"></span>
							</div>
							<div class="pic-row">
								<label>型号：</label>
								<span th:text="${product.model}"></span>
							</div>
							<div class="pic-row comment"></div>
							<div class="pic-row bodr" th:id="'coll'+${product.id}">
								<a class="btn-cancel coll" th:attr="data-id=${product.id}">加入收藏</a>
								<a class="btn-cart addCart" th:attr="data-id=${product.id}">加入购物车</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="pagination">
				<div class="l-pagination">
					<ul>
						<li>
							<a href="">首页</a>
						</li>
						<li>
							<a href="">1</a>
						</li>
						<li class="active">
							<a href="">2</a>
						</li>
						<li>
							<a href="">3</a>
						</li>
						<li>
							<a href="">4</a>
						</li>
						<li>
							……
						</li>
						<li>
							<a href="">40</a>
						</li>
						<li>
							<a href="">尾页</a>
						</li>
					</ul>
					<div class="page-total">
						共40页
					</div>
					<div class="page-from">
						<span>到第</span>
						<input type="text" class="page-input" />
						<span>页</span>
						<button>
							确定
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			© 1998 - 2015 SJ Inc. All Rights Reserved
		</div>
	</body>
</html>
