<div th:fragment="head" class="header" >
	<div class="head-box clearfix">
		<script type="text/javascript" th:src="@{/js/noCart.js}"></script>
		<script src="/js/searchForm.js"></script>
		<a href="/" class="logo"><img th:src="@{/img/logo.png}" alt="logo" width="165" height="30"/></a>
		<div class="head-search">
			<form id="searchForm" action="/products/_search">
				<span class="searched">商品</span>
				<input type="text" name="title" id="searchText"/>
				<input class="icon-search" type="submit" value="" />
				<div class="search-sort">
					<a data-name="/products/_search" data-input="title">商品</a>
					<a data-name="/products/_search" data-input="model">型号</a>
					<a data-name="/products/_search" data-input="brand">品牌</a>
					<a data-name="/subject/_search" data-input="title">方案</a>
					<a data-name="/info/_search" data-input="title">资讯</a>
				</div>
			</form>
		</div>
		<div class="head-menu"  th:if="${session.SPRING_SECURITY_CONTEXT==null}">
			<a href="/login">登录</a>
			<span>|</span>
			<a href="/signup?user">注册</a>
		</div>
		<div class="head-dorpdown" th:unless="${session.SPRING_SECURITY_CONTEXT==null}">
			<script type="text/javascript" th:src="@{/js/headCart.js}"></script>
			<div class="head-cart" th:if="${session.SPRING_SECURITY_CONTEXT.authentication.principal.siteAuthority}==ROLE_COMMONUSER">
				<div class="ct-cart">
					购物车(<i th:if="${session.cartLines==null}" th:text="0" id="allNum"></i><i th:if="${session.cartLines!=null}" th:text="${session.cartLines.size()}" id="allNum"></i>)
				</div>
			</div>
			<div class="head-user">
				<script type="text/javascript" th:src="@{/js/logout.js}"></script>
				<div class="user-name" id="username"  th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}"></div>
				<div class="user-menu bodr">
					<ul>
						<li th:if="${session.SPRING_SECURITY_CONTEXT.authentication.principal.siteAuthority}==ROLE_COMMONUSER">
							<a href="/user/detail">个人中心</a>
						</li>
						<li th:if="${session.SPRING_SECURITY_CONTEXT.authentication.principal.siteAuthority}==ROLE_COMMONUSER">
							<a href="/user/collection">收藏夹</a>
						</li>
						<li th:if="${session.SPRING_SECURITY_CONTEXT.authentication.principal.siteAuthority}==ROLE_COMMONUSER">
							<a href="/user/carts">我的购物车</a>
						</li>
						<li th:if="${session.SPRING_SECURITY_CONTEXT.authentication.principal.siteAuthority}==ROLE_COMMONUSER">
							<a href="/user/buyRecords">我的采购申请</a>
						</li>
						<li>
							<form id="logoutForm" action="/logout" method="post">
							 	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
								<a id="logout">退出登录</a>
							</form>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="head-nav">
		<div class="nav-box">
			<ul>
				<li>
					<a href="/">首页</a>
				</li>
				<li>
					<a href="/productCategory/1">仪器</a>
				</li>
				<li>
					<a href="/productCategory/2">试剂</a>
				</li>
				<li>
					<a href="/productCategory/3">耗材</a>
				</li>
				<li>
					<a href="/productCategory/4">服务</a>
				</li>
				<li>
					<a href="/subjects">解决方案</a>
				</li>
				<li class="news-down hide-menu">
					<a >资讯</a>
					<div class="news-sort show-menu">
						<a href="/informationCategorys/7">行业要闻</a>
						<a href="/informationCategorys/8">新品成果</a>
						<a href="/informationCategorys/9">厂商动态</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>