<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<meta name="_csrf" th:content="${_csrf.token}" />
		<meta name="_csrf_parameterName" th:content="${_csrf.parameterName}" />
		<title>Insert title here</title>
		<script type="text/javascript" th:src="@{/js/jquery-1.11.2.min.js}"></script>
		<script src="/js/ckeditor/ckeditor.js"></script>
		<script src="/js/ckeditor/adapters/jquery.js"></script>
		<script>
			$(function() {
				var token = $("meta[name='_csrf']").attr("content");
				var header = $("meta[name='_csrf_parameterName']").attr("content");
				$('#content').ckeditor({
					filebrowserBrowseUrl : '/upload',
					filebrowserUploadUrl : '/img/upload?' + header + "=" + token,
					width : 895,
					height : 300
				});
			});
		</script>
	</head>
	<body>
		<form th:action="@{/provider/instruments}" th:method="post" th:object="${instrument}">
			<input type="text" th:field="*{name}"/>
			<textarea th:id="content" th:field="*{content.content}"></textarea>
			<input type="submit"/>
		</form>
	</body>
</html>