<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<meta name="_csrf" th:content="${_csrf.token}" />
		<meta name="_csrf_parameterName" th:content="${_csrf.parameterName}" />
		<title>Insert title here</title>
		<script type="text/javascript" th:src="@{/js/jquery-1.11.2.min.js}"></script>
		<script src="/js/ckeditor/ckeditor.js"></script>
		<script src="/js/ckeditor/adapters/jquery.js"></script>
		<script>
            $(function() {
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_parameterName']").attr("content");
                $('#content').ckeditor({
                    filebrowserBrowseUrl : '/upload',
                    filebrowserUploadUrl : '/img/upload?' + header + "=" + token,
                    width : 895,
                    height : 300
                });
            });
		</script>
	</head>
	<body>
		<form th:method="post" th:object="${instrument}">
			<input type="text" th:field="*{name}"/>
			brand:<select th:field="*{brand}">
				<option value="">--请选择--</option>
				<option th:each="brand : ${brands}" th:value="${brand.id}" th:text="${brand.name}">brand</option>
			</select>
			<textarea th:id="content" th:field="*{content.content}"></textarea>
			secondCategory:<select th:field="*{secondCategory}">
				<option value="">--请选择--</option>
				<option th:each="c:${categories}" th:value="${c.id}" th:text="${c.name}"></option>
			</select>
			thirdCategory:<select th:field="*{thirdCategory}">
				<option value="">--请选择--</option>
				<option th:each="c:${thirdCategories}" th:value="${c.id}" th:text="${c.name}"></option>
			</select>
			original:<select th:field="*{original}">
				<option th:value="IN">in</option>
				<option th:value="OUT">out</option>
			</select>
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
			<input type="submit"/>
		</form>
	</body>
</html>