<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="/layout/layout">
	<head>
		<meta charset="UTF-8">
		</meta>
		<title>Insert title here</title>
	</head>
	<body>
		<div th:each="c:${results}">
			id:<div th:text="${c.id}"></div>
			activate:
			<input type="checkbox" th:checked="${c.activate==T(com.sj.model.type.ActivateEnum).ACTIVATE}" th:value="${c.id}"/>
			<a th:href="@{/admin/__${c.id}__/categories}" th:text="${c.name}"></a>
		</div>
	</body>
</html>