<div class="modal-content">
    <div class="modal-body">
        <div class="contentpanel">
            <form class="form-horizontal w300" ng-submit="submit()" th:object="${subject}">
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-sm-2">标题</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" th:field="*{name}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">图片</label>
                        <div class="col-sm-6">
                            <textarea th:field="*{content.content}"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <table th:each="sl:*{solutions}">
                            <tr th:text="${sl.name}">
                            </tr>
                            <tr th:each="p:${sl.products}">
                                <td th:text="${p.name}"></td>
                            </tr>
                        </table>
                    </div>
                    <div ng-repeat="s in item.solutions">
                        <input type="text" />
                    </div>
                </div>
                <div class="ul-list">
                	<ul>
                		<li>111222</li>
                		<li>3232323</li>
                		<li>111222</li>
                		<li>3232323</li>
                		<li>111222</li>
                		<li>3232323</li>
                		<li>111222</li>
                		<li>3232323</li>
                	</ul>
                </div>
                <div class="modal-footer">
                    <input type="submit" id="submit" class="btn btn-primary" value="提交" />
                    <button ng-click="addSolution()" class="btn btn-primary">添加</button>
                </div>
                <a th:attr="href=@{#/subject/__${id}__/solutions}">返回</a>
            </form>
        </div>
    </div>
</div>
<script>
$(function() {
    $('textarea').ckeditor({
        uiColor: '#000000',
        filebrowserBrowseUrl: '/upload',
        filebrowserUploadUrl: '/admin/editor/img/upload',
        width: 895,
        height: 300
    });

    $('#submit').click(function(e) {
        e.preventDefault();
        $.ajax({
            url: '/admin/subjects/10',
            method: 'post',
            data: {
                name: $('#name').val(),
                content: CKEDITOR.instances['content.content'].getData()
            },
            success: function(data) {

            },
            fail: function() {

            }
        });
    });
});
</script>
