<div class="contentpanel">
	<form class="form-horizontal" ng-submit="submit()" >
		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-1" >标题</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" ng-model="item.name"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-1">摘要</label>
				<div class="col-sm-11">
					<input type="text" class="form-control" ng-model="item.summary" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-1">内容</label>
				<div class="col-sm-6">
                    <textarea ckeditor="editorOptions" ng-model="item.content"></textarea>
				</div>
			</div>
			<div class="form-group">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-1">解决方案:</label>
			<div class="col-sm-6">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>名称</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="s in item.solutions track by $index">
							<td> {{s.name}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-xs-offset-3 panel-footer">
			<input type="submit" id="submit" class="btn btn-primary" value="提交" />
		</div>
	</form>
</div>
