<!-- leftpanel -->
<div class="contentpanel">
    <form class="form-inline">
        <div class="form-group">
            <a class="btn btn-success btn-sm" ng-click="create()">添加</a>
        </div>
        <div class="form-group company-select">
            <select ng-model="state" ng-change="search()">
                <option value="" selected="true">全部状态</option>
                <option value="ACTIVATE">已发布</option>
                <option value="DEACTIVATE">下架</option>
            </select>
        </div>
    </form>
    <table class="table table-bordered sm-ml">
        <thead>
            <tr>
                <th>序号</th>
                <th>分类</th>
                <th>链接</th>
                <th>状态</th>
                <th>最后修改日期</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td ng-click="view(item)">{{$index+1}}</td>
                <td>{{item.categoryName}}</td>
                <td>{{item.url}}</td>
                <td>{{item.state|activeFilter}}</td>
                <td>{{item.updatedTime}}</td>
                <td>
                    <a class="btn btn-primary btn-sm">发布</a>
                    <a class="btn btn-default btn-sm">修改</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="pagenumQu">
        <pagination total-items="total" items-per-page="15" max-size="7" ng-model="page" ng-change="search()"></pagination>
    </div>
</div>
