<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorator="/layout/layout">
	<head>
		<meta charset="UTF-8"/>
		<meta name="_csrf" th:content="${_csrf.token}" />
		<meta name="_csrf_header" th:content="${_csrf.headerName}" />
		<title>jQuery File Upload Example</title>
		<script src="/js/jquery-1.11.2.min.js"></script>
		<script src="/js/vendor/jquery.ui.widget.js"></script>
		<script src="/js/jquery.iframe-transport.js"></script>
		<script src="/js/jquery.fileupload.js"></script>
		<script>
            $(function() {

                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");
                var id = $("meta[name='id']").attr("content");

                $(document).ajaxSend(function(e, xhr, options) {
                    xhr.setRequestHeader(header, token);
                });

                $('input[type="file"]').fileupload({
                    dataType : 'json',
                    add : function(e, data) {
                        data.context = $('<p/>').text('Uploading...').appendTo(document.body);
                        data.submit();
                    },
                    method : 'post',
                    done : function(e, data) {
                        data.context.text('Upload finished.');
                        var self = $(e.target);
                        var img = self.next('img');
                        var url = data.result.files[0].url;
                        img.attr('src', url);
                        $('form').append('<input name="coverImg" type="hidden" value="' + url + '"/>');
                    },
                    progressall : function(e, data) {
                        var progress = parseInt(data.loaded / data.total * 100, 10);
                        $('#progress .bar').css('width', progress + '%').text(progress + '%');
                    }
                });
            });
		</script>	</head>
	<body>
		<div layout:fragment="content">
			<form th:method="put" th:object="${adv}">
				content:
				<input type="text" th:field="*{content.content}"/>
				description:
				<input type="text" th:field="*{description}"/>
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
				<input type="submit"/>
			</form>
			<input type="file" name="file" th:attr="data-url=@{/admin/__${#strings.toLowerCase(category)}__/advertisements/__*{id}__/coverImg}" />
			<img th:src="${adv.coverImg}" style="width:200px;height:100px"></img>
		</div>
	</body>
</html>