<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content=""/>
  <title>采购申请</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}"/>
  <script type="text/javascript" th:src="@{/js/jquery-1.11.2.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/prompt.js}"></script>
  <script th:src="@{/js/script.js}"></script>
  <meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
  <script type="text/javascript">
  $(function() {
	  var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");

		$(document).ajaxSend(function(e, xhr, options) {
			xhr.setRequestHeader(header, token);
		});
		var deleteId;
		$('.delete').click(function(){
			var obj = $(this);
			var id = obj.attr('data-id');
			deleteId = id;
			$(".fixed").fadeIn();
			$(".deletePrompt").fadeIn();
		});
		$('.cancel').click(function(){
			$(".fixed").fadeOut();
			$(".deletePrompt").fadeOut();
		});
		$("#delete").click(function(){
			$.ajax({
				type : 'delete',
				url : '/user/buyRecords/'+deleteId,
				success : function(data){
					$('#tr'+deleteId).remove();
					var cartNum = $('tbody tr').length; 
					if(cartNum == 0){
						$('#noBuys').show();
					}
				},error : function(data){
					promptError("系统异常");
				}
			});
			$(".fixed").fadeOut();
			$(".deletePrompt").fadeOut();
		});
		$(".download").click(function(){
			var noid = $(this).attr("noid");
			var val = "/user/buyRecords/"+noid+".pdf";
			console.log($("#pdfForm").attr("action"));
			$("#pdfForm").attr("action",val);
			$(".fixed").fadeIn();
			$(".PDF").fadeIn();
		});
		$(".ajaxLogin-close img").click(function(){
			$('.fixed').fadeOut();
			$('.PDF').fadeOut();
		});
		$(".fixed").click(function(){
			$('.fixed').fadeOut();
			$('.PDF').fadeOut();
			$(".deletePrompt").fadeOut();
		});
	});
  </script>
</head>
<body>
	<div class="header" th:include="head/head">Head</div>
	<!-- header -->
	<div class="wrapper">
		<div th:include="productcategory/secondCategories">Head</div>
		<div class="self-wrap">
			<div class="gray-hd"><a class="blue">个人中心</a></div>
			<div class="mainwrapper clearfix">
				<div class="aside fl">
					<a href="/user/detail">个人资料</a>
					<a href="/user/collection">收藏夹</a>
					<a href="/user/carts">购物车</a>
					<a class="active">采购申请</a>
				</div>
				<div class="mainpanel purchase fr">
					<table class="change-color" style="width: 100%;">
						<thead class="bodr">
							<tr>
								<th>编号</th>
								<th>提交日期</th>
								<th>项目名称</th>
								<th>申购金额（元）</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="buy,buyStat:${pages.getContent()}" th:id="'tr'+${buy.id}">
								<td th:text="${buyStat.index+1}"></td>
								<td th:text="${#dates.format(buy.createTime, 'yyyy-MM-dd')}"></td>
								<td th:attr="product-id=${buy.id}">
									<a th:text="${buy.name}" th:href="'/user/buyRecords/'+${buy.id}">
									</a>
								</td>
								<td th:text="${buy.price}">1111.00</td>
								<td>
									<a class="blue delete" th:attr="data-id=${buy.id}">删除</a>|
									<a class="blue" th:href="'/user/buyRecords/'+${buy.id}+'?edit'">修改</a>|
									<a class="blue download" th:attr="noid=${buy.noId}" target="_blank">下载</a>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="pagination">
						<div class="l-pagination">
							<script type="text/javascript" th:src="@{/js/page.js}"></script>
							<a class="first" th:href="@{${viewpage.href}(page=0,size=20)}">首页</a>
							<ul>
								<li th:each="i:${#numbers.sequence(viewpage.begin,viewpage.end)}" th:class="${(i-1)==viewpage.current}?active">
									<a th:href="@{${viewpage.href}(page=${i-1})}" th:text="${i}"></a>
								</li>
							</ul>
							<a class="last" th:href="@{${viewpage.href}(page=${pages.getTotalPages()-1},size=20)}">末页</a>
							<div class="info">共&nbsp;<i th:text="${pages.getTotalPages()}"></i>&nbsp;页，
							到第&nbsp;<input type="text" id="number" th:value="${viewpage.current+1>=pages.getTotalPages()}?${pages.getTotalPages()}:${viewpage.current+2}" min="1" th:max="${pages.getTotalPages()}"/>&nbsp;页
							<button id="goToPage" th:attr="href=@{${viewpage.href}(size=20)}">确定</button> </div>
						</div>
					</div>
					<div id="noBuys" th:class="${pages.getContent().size()==0}?userShow:userHide" >
						<div class="tip-box bodr" style="line-height: 300px;">
							<span>您还没有任何采购记录，快去采购吧！</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="footer/footer"></div>
	<div class="fixed"></div>
	<div class="prompt"></div>
	<div class="hide-wrap deletePrompt bodr">
		<div class="hide-con">
			<h2>是否删除该采购清单</h2>
			<div class="foot-btn">
				<button class="btn green ft14" id="delete">确认</button>
				<button class="btn default cancel" >取消</button>
			</div>
		</div>
	</div>
	<div class="PDF temp-wrap bodr">
		<div class="ajaxLogin-close">
			<img th:src="@{/img/icon-close.png}" width="20px" height="20px"/>
		</div>
		<h3 class="temp-h"><b>请选择PDF模板</b></h3>
		<form target="_blank" th:method="get" id="pdfForm" action="">
			<div class="temp">
				<span><input type="radio" name="type" value="one" checked="checked"/>模板1</span>
				<span><input type="radio" name="type" value="two"/>模板2</span>
				<span><input type="radio" name="type" value="three"/>模板3</span>
				<span><input type="radio" name="type" value="four"/>模板4</span>
			</div>
			<button type="submit" class="btn green fff">确认</button>
		</form>
	</div>
</body>
</html>	