<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content=""/>
  <title>采购申请</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}"/>
  <script type="text/javascript" th:src="@{/js/jquery-1.11.2.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/prompt.js}"></script>
  <script th:src="@{/js/script.js}"></script>
  <meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
  <script type="text/javascript">
  $(function() {
	  var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");

		$(document).ajaxSend(function(e, xhr, options) {
			xhr.setRequestHeader(header, token);
		});
		var deleteId;
		$('.delete').click(function(){
			var obj = $(this);
			var id = obj.attr('data-id');
			deleteId = id;
			$(".fixed").fadeIn();
			$(".deletePrompt").fadeIn();
		});
		$('.cancel').click(function(){
			$(".fixed").fadeOut();
			$(".deletePrompt").fadeOut();
		});
		$("#delete").click(function(){
			$.ajax({
				type : 'delete',
				url : '/user/buyRecords/'+deleteId,
				success : function(data){
					$('#tr'+deleteId).remove();
					if($('tbody tr').length==0){
						$('#noBuys').show();
					}
					$(".fixed").fadeOut();
					$(".deletePrompt").fadeOut();
				},error : function(data){
					promptError("系统异常");
				}
			});
		});
	});
  </script>
</head>
<body>
	<div class="header" th:include="head/head">Head</div>
	<!-- header -->
	<div class="wrapper">
		<div class="self-wrap">
			<div class="gray-hd"><a class="blue">个人中心</a></div>
			<div class="mainwrapper clearfix">
				<div class="aside fl">
					<a href="/user/detail">个人资料</a>
					<a href="/user/collection">收藏夹</a>
					<a href="/user/carts">购物车</a>
					<a class="active">采购申请</a>
				</div>
				<div class="mainpanel purchase fr">
					<table class="change-color" style="width: 100%;">
						<thead class="bodr">
							<tr>
								<th>编号</th>
								<th>提交日期</th>
								<th>项目名称</th>
								<th>申购金额（元）</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="buy,buyStat:${pages.getContent()}" th:id="'tr'+${buy.id}">
								<td th:text="${buyStat.index+1}"></td>
								<td th:text="${#dates.format(buy.createTime, 'yyyy-MM-dd')}"></td>
								<td class="show-wrap" th:attr="product-id=${buy.id}">
									<a th:text="${buy.name}" th:href="'/user/buyRecords/'+${buy.id}">
									</a>
								</td>
								<td th:text="${buy.price}">1111.00</td>
								<td>
									<a class="blue delete" th:attr="data-id=${buy.id}">删除</a>|
									<a class="blue" th:href="'/user/buyRecords/'+${buy.id}+'?edit'">修改</a>|
									<a class="blue" th:href="'/user/buyRecords/'+${buy.noId}+'.pdf'" target="_blank">下载</a>
								</td>
							</tr>
						</tbody>
					</table>
					<div id="noBuys" th:class="${pages.getContent().size()==0}?userShow:userHide" >
						<div class="tip-box bodr" style="line-height: 300px;">
							<span>您还没有任何采购记录，快去采购吧！</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="footer/footer"></div>
	<div class="fixed"></div>
	<div class="prompt"></div>
	<div class="hide-wrap deletePrompt bodr">
		<div class="hide-con">
			<h2>是否删除该采购清单</h2>
			<div class="foot-btn">
				<button class="btn green ft14" id="delete">确认</button>
				<button class="btn default cancel" >取消</button>
			</div>
		</div>
	</div>
</body>
</html>	