<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content=""/>
  <title>购物车</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}"/>
  <meta name="_csrf" th:content="${_csrf.token}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />
  <script th:src="@{/js/jquery-min.js}"></script>
  <script th:src="@{/js/noCart.js}"></script>
  <script type="text/javascript" th:src="@{/js/cart.js}"></script>
  <script type="text/javascript">
	$(function() {
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		$(document).ajaxSend(function(e, xhr, options) {
			xhr.setRequestHeader(header, token);
		});
		$('.text-amount').keyup(function(){      
	        $(this).val($(this).val().replace(/[^0-9.]/g,''));      
	    }).bind("paste",function(){       
	        $(this).val($(this).val().replace(/[^0-9.]/g,''));       
	   	});
		
		$(".ajaxLogin-close img").click(function(){
			$('.hide-wrap').fadeOut();
			$('.fixed').fadeOut();
		});
	    
		$(".text-amount").blur(function() {
			var i = $(this);
			var number = i.val();
			var cartId = i.attr("cart-id");
			var price = i.attr("price");
			var productId = i.attr("product-id");
			var priceDom = $("#small" + cartId);
			var product = $("#num" + productId);
			if(1 > number  || number > 999){
				number = 999;
				i.val(number);
			}
			$.ajax({
				type : 'PUT',
				url : '/user/carts/' + cartId + '/' + number,
				success : function(data) {
					if (data == "success") {
						i.val(number);
						priceDom.html(parseFloat(number * price).toFixed(1));
						getCount();
					}
				},
				error : function(data) {
				}
			});
		});
	});
  </script>
</head>
<body>
	<div class="header" th:include="head/headCart">Head</div>
	<!-- header -->
	<div class="wrapper h400">
		<div th:include="productcategory/secondCategories">Head</div>
		<div class="self-wrap">
			<div class="gray-hd"><a class="blue">个人中心</a></div>
			<div class="mainwrapper clearfix">
				<div class="aside fl">
					<a href="/user/detail">个人资料</a>
					<a href="/user/collection">收藏夹</a>
					<a class="active">购物车</a>
					<a href="/user/buyRecords">采购申请</a>
				</div>
				<div class="mainpanel fr">
					<div class="all ft14">全部商品<span th:if="${list==null}"></span><span th:unless="${list==null}" th:text="${list.size()}" id="listSize"></span></div>
					<div class="cart-table change-color">
						<table cellpadding="0" cellspacing="0" style="width: 100%;">
							<thead>
								<tr>
									<th width="30"></th>
									<th width="100"></th>
									<th width="370">商品</th>
									<th width="90">单价（元）</th>
									<th width="100">数量</th>
									<th width="80">小计（元）</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr th:if="${list!=null}" th:each="cart:${list}" th:id="${cart.productId}" th:attr="data-id=${cart.id}">
									<td><input type="checkbox"  class="check" th:if="${cart.check==false}" id="carts" name="carts" th:value="${cart.productId}" th:attr="data-id=${cart.id}"/>
									<input type="checkbox" checked="checked"  class="check" th:if="${cart.check==true}" id="carts" name="carts" th:value="${cart.productId}" th:attr="data-id=${cart.id}"/></td>
									<td>
										<img th:src="@{${cart.image}}" width="80" height="80"/>
									</td>
									<td>
									<a th:href="@{'/products/'+${cart.productId}}">
										<div class="fl" th:text="${cart.name}" >
										</div></a>
										<div class="fr">
											<div class="brand-bd">
												<label>品牌：</label>
												<span th:text="${cart.brandName}"></span>
											</div>
											<div>
												<label>产地：</label>
												<span th:if="${cart.place.toString()=='DOMESTIC'}" th:text="国产"></span>
												<span th:if="${cart.place.toString()=='IMPORTED'}" th:text="进口"></span>
											</div>
											<div>
												<label>型号：</label>
												<span th:text="${cart.model}"></span>
											</div>
										</div>
									</td>
									<td th:text="${cart.price}"></td>
									<td>
										<div class="amount">
											<a class="minus" th:attr="data-id=${cart.productId},cart-id=${cart.id}">-</a>
											<input type="text" class="text-amount" th:value="${cart.number}" th:id="'num'+${cart.productId}" th:attr="cart-id=${cart.id},price=${cart.price},product-id=${cart.productId}"/>
											<a class="plus" th:attr="data-id=${cart.productId},cart-id=${cart.id},price=${cart.price}">+</a>
										</div>
									</td>
									<td><b class="red" th:id="'small'+${cart.id}" th:text="${cart.price*cart.number}" th:attr="price=${cart.price}">1235.0</b></td>
									<td>
										<a class="deleteCart" th:attr="data-id=${cart.productId}">删除</a>
									</td>
								</tr>
							</tbody>
						</table>
						<div th:class="${list==null}?userShow:userHide" id="noProduct">
							<div class="tip-box bodr ">
								<span>购物车中还没有商品，赶紧选购吧！</span>
							</div>
						</div>
						<div class="cart-foot">
							<div class="clearfix">
								<span class="choose"><input type="checkbox" id="checkAll"/>全选</span>								
								<span class="del"></span>
								<span class="num">已选好<b class="red" id="num"></b>种商品</span>
								<span>合计：<b  class="red">￥</b><b class="red" id="count"></b></span>
								<button th:if="${list==null}" class="btn green fr make-orders" disabled="disabled" id="createButton">生成采购订单</button>
								<a href="/user/buyRecords?form"><button th:unless="${list==null}" class="btn green fr">生成采购订单</button></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<div th:include="footer/footer"></div>
	<div class="fixed"></div>
	<div class="hide-wrap deletePrompt bodr">
		<div class="hide-con">
			<h2>是否从购物车中删除该商品</h2>
			<div class="foot-btn">
				<button class="btn green ft14" id="delete">确认</button>
				<button class="btn default cancel" >取消</button>
			</div>
		</div>
	</div>
</body>
</html>
