<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<title>个人资料-修改密码</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/global.css}" />
<script th:src="@{/js/jquery-min.js}"></script>
<script th:src="@{/js/script.js}"></script>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<script type="text/javascript">
	$(function() {
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");

		$(document).ajaxSend(function(e, xhr, options) {
			xhr.setRequestHeader(header, token);
		});
	});
</script>
</head>
<body>
	<div class="header">
		<div th:include="head/head :: head">Head</div>
	</div>
	<div class="wrapper">
		<div class="self-wrap">
			<div class="gray-hd">
				<a class="blue">个人中心</a>
			</div>
			<div class="mainwrapper clearfix">
				<div class="aside fl">
					<a class="active">个人资料</a>
					<a href="/user/collection">收藏夹</a>
					<a href="/user/carts">购物车</a>
					<a href="/user/buyRecords">采购申请</a>
				</div>
				<div class="mainpanel fr">
					<div class="tabs-nav info-tabs bodr">
						<a href="/user/detail">基本资料</a> <a class="active">修改密码</a>
					</div>
					<div class="tab-conts tab-con">

						<div class="tab-panel form-control w500">
							<form th:object="${form}" th:method="post">
								<div class="form-group">
									<label><i>*</i>旧密码</label> <input type="password" th:field="*{oldPassword}" /> 
									<i class="error" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}">必填</i>
								</div>
								<div class="form-group">
									<label><i>*</i>新密码</label> <input type="password" th:field="*{newPassword}" /> 
									<i class="error" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></i>
								</div>
								<input type="hidden" th:name="${_csrf.parameterName}"
									th:value="${_csrf.token}" />
								<button class="btn green">保存</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">© 1998 - 2015 SJ Inc. All Rights Reserved</div>
	</div>
</body>
</html>