<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en">
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="description" content=""/>
		<title>收藏夹</title>
		<meta name="_csrf" th:content="${_csrf.token}" />
		<meta name="_csrf_header" th:content="${_csrf.headerName}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/global.css}"/>
		<script th:src="@{/js/jquery-min.js}"></script>
		<script th:src="@{/js/script.js}"></script>
		<script type="text/javascript">
            $(function() {
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");

                $(document).ajaxSend(function(e, xhr, options) {
                    xhr.setRequestHeader(header, token);
                });
                $('.btn-cart').click(function() {
                    var id = $(this);
                    var product = id.attr("data-id");
                    createCart(1,product);
                });
                $('.btn-cancel').click(function() {
                    var id = $(this);
                    var product = id.attr("data-id");
                    $.ajax({
                        type : 'delete',
                        url : '/user/collection/' + product,
                        success : function(data) {
                            if (data == "success") {
                                $("#li" + product).remove();
                            }
                            if($("#preferUl li").length==0){
                            	$("#noCollection").show();
                            }
                        },
                        error : function(data) {
                            alert(data);
                        }
                    });
                });
            });
		</script>
	</head>
	<body>
		<div class="header" th:include="head/head">Head</div>
		<!-- header -->
		<div class="wrapper">
			<div class="self-wrap">
				<div class="gray-hd">
					<a class="blue">个人中心</a>
				</div>
				<div class="mainwrapper clearfix">
					<div class="aside fl">
						<a href="/user/detail">个人资料</a>
						<a class="active">收藏夹</a>
						<a href="/user/carts">购物车</a>
						<a href="/user/buyRecords">采购申请</a>
					</div>
					<div class="mainpanel bodr collect fr" >
						<div class="items-list" th:if="${pages.getContent()!=null and pages.getContent().size()!=0}">
							<ul id="preferUl">
								<li class="bodr" th:each="prefer:${pages.getContent()}" th:id="'li'+${prefer.product.id}">
									<a th:href="@{'/products/'+${prefer.product.id}}" target="_blank"><img th:src="@{${prefer.product.coverImg}}" width="210" height="175"/>
									<div class="pic-box">
										<div class="pic-row refer">
											<label>参考报价</label>
											<span> <b class="red ft14">￥<i th:text="${prefer.product.price}"></i></b> </span>
										</div>
										<div class="pic-row tit" th:text="${prefer.product.name}">
											GenePix 4100 A生物芯片扫描仪
										</div>
										<div class="pic-row">
											<label>品牌：</label>
											<span th:text="${prefer.product.brand.name}"> Lorem ipsum</span>
										</div>
										<div class="pic-row">
											<label>产地：</label>
											<span th:if="${prefer.product.placeOfProduction.toString()=='DOMESTIC'}" th:text="国产"></span>
											<span th:if="${prefer.product.placeOfProduction.toString()=='IMPORTED'}" th:text="进口"></span>
										</div>
										<div class="pic-row">
											<label>型号：</label>
											<span th:text="${prefer.product.model}"> Lorem ipsum</span>
										</div>
										<div class="pic-row bodr">
											<a class="btn-cancel" th:attr="data-id=${prefer.product.id}">取消收藏</a>
											<a class="btn-cart" th:attr="data-id=${prefer.product.id}">加入购物车</a>
										</div>
									</div> </a>
								</li>
							</ul>
						</div>
					<div id="noCollection" th:class="${pages.getContent()==null || pages.getContent().size()==0}?userShow:userHide">
						<div  class="tip-box mainpanel collect fr" style="line-height: 300px;">
							<span>您还没有收藏任何商品，赶紧收藏吧！</span>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
		<div th:include="footer/footer"></div>
	</body>
</html>
