<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<title>采购申请</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/global.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datetimepicker.min.css}" />
<script th:src="@{/js/jquery-min.js}"></script>
<script th:src="@{/js/script.js}"></script>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<script type="text/javascript">
	$(function() {
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");

		$(document).ajaxSend(function(e, xhr, options) {
			xhr.setRequestHeader(header, token);
		});
	});
</script>
</head>
<body>
	<div class="header">
		<div th:include="/head/head"></div>
	</div>
	<!-- header -->
	<div class="wrapper">
		<div class="self-wrap">
			<div class="gray-hd">
				<a class="blue">个人中心</a>
			</div>
			<div class="mainwrapper clearfix">
				<div class="aside fl">
					<a href="/user/detail">个人资料</a> <a href="/user/collection">收藏夹</a>
					<a href="/user/cart">购物车</a> <a class="active">采购申请</a>
				</div>
				<div class="mainpanel pdf fr">
					<div class="hide-con" th:object="${buy}">
						<h2>
							<i th:text="${buy.user.company}"></i>采购方单位-物资(外包服务)申购单
						</h2>
						<div>
							编号 : <i th:text="${buy.noId}"></i>
						</div>
						<div class="orders-form">
							<form th:object="${buy}" th:method="put">
								<div class="form-group">
									<label>申请单位</label> 
									<input type="text" th:field="*{user.company}" disabled="disabled" /> <label>行业</label>
									<input type="text" th:field="*{user.industryInfo.name}" disabled="disabled" /> 
									
								</div>
								<div class="form-group">
								<label>申请部门</label> <input type="text" th:field="*{user.department}" disabled="disabled" />
									<label>申请人</label> <input type="text" th:field="*{user.realName}" disabled="disabled" />
								</div>
								<div class="form-group">
									<label>经费类别</label><input type="text" class="w635" th:field="*{fundCategory}"/>
								</div>
								<div class="form-group">
									<label>项目名称</label><input type="text" class="w635" th:field="*{name}" />
								</div>
								<table width="100%">
									<thead>
										<tr>
											<th>序号</th>
											<th>名称</th>
											<th>型号</th>
											<th>单位</th>
											<th>数量</th>
											<th>小计（元）</th>
											<th>产地</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="product,productStat:${buy.getProducts()}">
											<td th:text="${productStat.index+1}">1</td>
											<td th:text="${product.product.name}">Lorem ipsum dolor
												sit amet</td>
											<td th:text="${product.product.model}">LoremLorem</td>
											<td th:text="${product.product.specifications}">Lorem</td>
											<td th:text="${product.number}">1</td>
											<td th:text="${product.number * product.product.price}">1222.00</td>
											<td th:if="${product.product.placeOfProduction.toString()=='DOMESTIC'}" th:text="国产"></td>
											<td th:if="${product.product.placeOfProduction.toString()=='IMPORTED'}" th:text="进口"></td>
										</tr>
									</tbody>
								</table>
								<div class="gray-hd winh clearfix">
									<div class="fr mr20">
										<i class="ft14">共计：</i><i th:text="*{price}"></i>
									</div>
								</div>
								<div class="form-group">
									<label>申请理由</label>
									<textarea class="w635" rows="5" th:field="*{reason}"></textarea>
								</div>
								<div class="form-group">
									<label>期望到货日期</label> 
									<input class="form-control datepicker" id="arrivalTime" name="arrivalTime" type="text" readonly="readonly"/>
								</div>
								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
								<button class="btn green mauto">保存</button>
								<a href="/user/buyRecords">
									<button class="btn default" type="button">返回</button>
								</a>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">© 1998 - 2015 SJ Inc. All Rights Reserved</div>
	<script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
	<script type="text/javascript">
		(function($){
		$.fn.datetimepicker.dates['zh-CN'] = {
				days: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六", "星期日"],
				daysShort: ["周日", "周一", "周二", "周三", "周四", "周五", "周六", "周日"],
				daysMin:  ["日", "一", "二", "三", "四", "五", "六", "日"],
				months: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
				monthsShort: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
				today: "今天",
				suffix: [],
				meridiem: ["上午", "下午"]
		};
	}(jQuery));

	
        $('.datepicker').datetimepicker({
            format: 'yyyy-mm-dd',
            todayBtn: true,
            autoclose: 1,
            minView: 2,
            language: 'zh-CN'
        });
	</script>
</body>
</html>
