<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<title>采购申请</title>
<link rel="stylesheet" type="text/css" href="css/global.css">
<link rel="stylesheet" type="text/css"
	href="css/bootstrap-datetimepicker.min.css">
<script src="js/jquery-min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-datetimepicker.min.js"></script>
<script src="js/script.js"></script>
</head>
<body>
	<div class="header">
		<div class="head-box clearfix">
			<a href="#" class="logo"><img src="img/topic1.jpg" alt="logo"
				width="165" height="80"></a>
			<div class="head-search">
				<span>仪器</span> <input type="text"> <i class="icon-search"></i>
			</div>
			<div class="head-menu">
				<a href="">登录</a> <span>|</span> <a href="">注册</a>
			</div>
		</div>
		<div class="head-nav">
			<div class="nav-box">
				<ul>
					<li class="active nobor"><a href="#">仪器</a></li>
					<li><a href="#">试剂</a></li>
					<li><a href="#">耗材</a></li>
					<li><a href="#">服务</a></li>
					<li><a href="#">专题</a></li>
					<li><a href="#">资讯</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- header -->
	<div class="wrapper">
		<div class="self-wrap">
			<div class="gray-hd">
				<a class="blue">个人中心</a>
			</div>
			<div class="mainwrapper clearfix">
				<div class="aside fl">
					<a>个人资料</a> <a>收藏夹</a> <a>购物车</a> <a class="active">采购申请</a>
				</div>
				<div class="mainpanel pdf fr">
					<h2>XXXXX采购方单位-物资(外包服务)申购单</h2>
					<div>编号 : 20150501001</div>
					<form>
						<div class="form-group">
							<label>申请单位</label> <input type="text" disabled /> <label>行业</label>
							<input type="text" /> <label>申请部门</label> <input type="text" />
						</div>
						<div class="form-group">
							<label>申请人</label> <input type="text" disabled /> <label>职称</label>
							<input type="text" /> <label>职位</label> <input type="text" />
						</div>
						<div class="form-group">
							<label>经费类别</label> <input type="text" class="w635" />
						</div>
						<div class="form-group">
							<label>项目名称</label> <input type="text" class="w635" />
						</div>
						<table width="100%">
							<thead>
								<tr>
									<th>序号</th>
									<th>名称</th>
									<th>型号</th>
									<th>单位</th>
									<th>数量</th>
									<th>估价（元）</th>
									<th>产地</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Lorem ipsum dolor sit amet</td>
									<td>LoremLorem</td>
									<td>Lorem</td>
									<td>1</td>
									<td>1222.00</td>
									<td>上海</td>
								</tr>
								<tr>
									<td>2</td>
									<td>Lorem ipsum dolor sit amet</td>
									<td>LoremLorem</td>
									<td>Lorem</td>
									<td>1</td>
									<td>1222.00</td>
									<td>上海</td>
								</tr>
								<tr>
									<td>3</td>
									<td>Lorem ipsum dolor sit amet</td>
									<td>LoremLorem</td>
									<td>Lorem</td>
									<td>1</td>
									<td>1222.00</td>
									<td>上海</td>
								</tr>
							</tbody>
						</table>
						<div class="gray-hd winh clearfix">
							<div class="fr mr20">
								<i class="ft14">共计：</i>18255.00
							</div>
						</div>
						<div class="form-group">
							<label class="w95">申请理由</label>
							<textarea class="w635" rows="5"></textarea>
						</div>
						<div class="form-group clearfix">
							<label class="fl w95">期望到货日期</label>
							<div class="date form_date fl ml5" data-date-format="yyyy-MM-dd">
								<input size="16" type="text" value="" readonly> <span
									class="add-on"><i class="icon-remove"></i></span> <span
									class="add-on"><i class="icon-th"></i></span>
							</div>

						</div>
						<button class="btn green block mauto">下载PDF文档</button>
					</form>
				</div>

				<div class="hide-wrap orders bodr">
					<div class="hide-con">
						<span class="cancel ft14">关闭</span>
						<h2>XXXXX采购方单位-物资(外包服务)申购单</h2>
						<div>编号 : 20150501001</div>
						<div class="orders-form">
							<form>
								<div class="form-group">
									<label>申请单位</label> <input type="text" disabled /> <label>行业</label>
									<input type="text" /> <label>申请部门</label> <input type="text" />
								</div>
								<div class="form-group">
									<label>申请人</label> <input type="text" disabled /> <label>职称</label>
									<input type="text" /> <label>职位</label> <input type="text" />
								</div>
								<div class="form-group">
									<label>经费类别</label> <input type="text" class="w635" />
								</div>
								<div class="form-group">
									<label>项目名称</label> <input type="text" class="w635" />
								</div>
								<table width="100%">
									<thead>
										<tr>
											<th>序号</th>
											<th>名称</th>
											<th>型号</th>
											<th>单位</th>
											<th>数量</th>
											<th>估价（元）</th>
											<th>产地</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td>Lorem ipsum dolor sit amet</td>
											<td>LoremLorem</td>
											<td>Lorem</td>
											<td>1</td>
											<td>1222.00</td>
											<td>上海</td>
										</tr>
										<tr>
											<td>2</td>
											<td>Lorem ipsum dolor sit amet</td>
											<td>LoremLorem</td>
											<td>Lorem</td>
											<td>1</td>
											<td>1222.00</td>
											<td>上海</td>
										</tr>
										<tr>
											<td>3</td>
											<td>Lorem ipsum dolor sit amet</td>
											<td>LoremLorem</td>
											<td>Lorem</td>
											<td>1</td>
											<td>1222.00</td>
											<td>上海</td>
										</tr>
									</tbody>
								</table>
								<div class="gray-hd clearfix">
									<div class="fr mr20">
										<i class="ft14">共计：</i>18255.00
									</div>
								</div>
								<div class="form-group">
									<label>申请理由</label>
									<textarea class="w635" rows="5"></textarea>
								</div>
								<div class="form-group clearfix">
									<label class="fl">期望到货日期</label>
									<div class="date form_date fl ml5"
										data-date-format="yyyy-MM-dd">
										<input size="16" type="text" value="" readonly> <span
											class="add-on"><i class="icon-remove"></i></span> <span
											class="add-on"><i class="icon-th"></i></span>
									</div>

								</div>
								<button class="btn green mauto">修改</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">© 1998 - 2015 SJ Inc. All Rights Reserved</div>

	<script type="text/javascript">
		(function($) {
			$.fn.datetimepicker.dates['zh-CN'] = {
				days : [ "星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六", "星期日" ],
				daysShort : [ "周日", "周一", "周二", "周三", "周四", "周五", "周六", "周日" ],
				daysMin : [ "日", "一", "二", "三", "四", "五", "六", "日" ],
				months : [ "一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月",
						"九月", "十月", "十一月", "十二月" ],
				monthsShort : [ "一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月",
						"九月", "十月", "十一月", "十二月" ],
				today : "今天",
				suffix : [],
				meridiem : [ "上午", "下午" ]
			};
		}(jQuery));

		$('.form_date').datetimepicker({
			language : 'zh-CN',
			autoclose : 1,
			startView : 2,
			minView : 2,
			forceParse : 0
		});
	</script>
</body>
</html>
