<script th:src="@{/js/script.js}"></script>
<div class="hide-con" th:object="${buy}">
			<span class="cancel ft14">关闭</span>
			<h2><i th:text="${buy.user.company}"></i>采购方单位-物资(外包服务)申购单</h2>
			<div>编号 : <i th:text="${buy.noId}"></i></div>
			<div class="orders-form">				
				<form>
					<div class="form-group">
						<label>申请单位</label>
						<input type="text" th:value="${buy.user.company}"/>
						<label>行业</label>
						<i th:switch="${buy.user.industryInformation.toString()}">
							<input type="text" th:case="'ONT'" value="科研院校/所"/>
							<input type="text" th:case="'TWO'" value="工业检测机构"/>
							<input type="text" th:case="'THREE'" value="委托合同研究机构"/>
							<input type="text" th:case="'FOUR'" value="政府机构"/>
							<input type="text" th:case="'FIVE'" value="商业检测/研发实验室"/>
							<input type="text" th:case="'SIX'" value="医疗保健机构"/>
							<input type="text" th:case="'SEVEN'" value="医院及大学医疗中心"/>
							<input type="text" th:case="'EIGHT'" value="医疗及诊断设备公司"/>
							<input type="text" th:case="'NINE'" value="制药/生物技术"/>
							<input type="text" th:case="'TIME'" value="设备材料供应商"/>
							<input type="text" th:case="'ELEVEN'" value="其他"/>
						</i>
						<label>申请部门</label>
						<input type="text"  th:value="${buy.user.department}"/>
					</div>
					<div class="form-group">
						<label>申请人</label>
						<input type="text" th:value="${buy.user.realName}"/>
						<label>订单生成日期</label>
						<input type="text" th:value="${#dates.format(buy.createTime, 'yyyy-MM-dd')}"/>	
						<label>期望到货日期</label>
						<input type="text" th:value="${#dates.format(buy.arrivalTime, 'yyyy-MM-dd')}"/>	
					</div>
					<div class="form-group">
						<label>经费类别</label>
						<input type="text" class="w635" th:value="${buy.fundCategory}" />						
					</div>
					<div class="form-group">
						<label>项目名称</label>
						<input type="text" class="w635" th:value="${buy.name}"/>						
					</div>
					<table width="100%">
						<thead>
							<tr>
								<th>序号</th>
								<th>名称</th>
								<th>型号</th>
								<th>单位</th>
								<th>数量</th>
								<th>小计（元）</th>
								<th>产地</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="product,productStat:${buy.getProducts()}">
								<td th:text="${productStat.index+1}">1</td>
								<td th:text="${product.product.name}">Lorem ipsum dolor sit amet</td>
								<td th:text="${product.product.model}">LoremLorem</td>
								<td th:text="${product.product.specifications}">Lorem</td>
								<td th:text="${product.number}">1</td>
								<td th:text="${product.number * product.product.price}">1222.00</td>
								<td th:switch="${product.product.placeOfProduction.toString()}">
									<i th:case="'DOMESTIC'" th:text="国内"></i>
									<i th:case="'EUROPEANDUS'" th:text="欧美"></i>
									<i th:case="'OTHER'" th:text="其他"></i>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="gray-hd clearfix">
						<div class="fr mr20">
							<i class="ft14">共计：</i><i th:text="${buy.price}"></i>
						</div>
					</div>
					<div class="form-group">
						<label>申请理由</label>
						<textarea class="w635" rows="5" th:text="${buy.reason}"></textarea>						
					</div>
					<div class="form-group">
						<label>生成订单日期</label>
						<input type="text" th:value="${#dates.format(buy.createTime, 'yyyy-MM-dd')}"/>		
						<label>期望到货日期</label>
						<input type="text" th:value="${#dates.format(buy.arrivalTime, 'yyyy-MM-dd')}"/>			
					</div>
					<button class="btn green mauto">下载PDF文档</button>
				</form>
			</div>
		</div>