<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<meta name="description" content=""></meta>
	<title>个人注册</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/global.css}"/>
	<meta charset="UTF-8"></meta>
	<meta name="_csrf" th:content="${_csrf.token}" ></meta>
	<meta name="_csrf_header" th:content="${_csrf.headerName}" ></meta>
	<script type="text/javascript" th:src="@{/js/jquery-1.11.2.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/province.js}"></script>
	<script type="text/javascript" th:src="@{/js/validata_signup.js}"></script>
	<script type="text/javascript">
		$(function() {
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr, options) {
				xhr.setRequestHeader(header, token);
			});
		});
	</script>
</head>
<body>
	<div class="resg-header">		
		<div class="head-nav">
			<div class="nav-box">
				<a href="/">首页</a>
				<i>|</i>
				<a href="/productCategory/1">仪器</a>
				<i>|</i>
				<a href="/productCategory/2">试剂</a>
				<i>|</i>
				<a href="/productCategory/3">耗材</a>
				<i>|</i>
				<a href="/productCategory/4">服务</a>
				<i>|</i>
				<a href="/subjects">专题</a>
			</div>
		</div>
		<div class="head-box clearfix">
			<a href="/" class="logo"><img th:src="@{/img/logo.png}" alt="logo" width="165" height="30"/></a>
			<div class="head-menu-btn resg-self">
				<a class="self-btn"></a>
				<a href="/signup?provider" class="company-btn"></a>
			</div>
			<div class="head-menu">
				<a href="/login">已有账号？马上登录</a>
			</div>
		</div>
	</div>
	<!-- header -->
	<div class="wrapper">
		<form class="resg-form" enctype="multipart/form-data" th:object="${user}" th:method="post">
			<div class="hd resg-hd">
				<span>注册信息</span>
			</div>
			<div class="form-group">
				<label><i>*</i>用户名</label>
				<input type="text" th:field="*{name}"/>
				<i class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">必填</i>
			</div>
			<div class="form-group">
				<label><i>*</i>密码</label>
				<input type="password" th:field="*{password}"/>
				<i class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">必填</i>
			</div>
			<div class="form-group">
				<label><i>*</i>手机号</label>
				<input type="text" th:field="*{phone}"/>
				<button class="tel-code">获取验证码</button>
				<i class="error" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">必填</i>
			</div>
			<div class="form-group">
				<label><i>*</i>验证码</label>
				<input type="text" th:field="*{captcha}"/>
			</div>
			<div class="form-group">
				<label><i>*</i>邮箱</label>
				<input type="text" th:field="*{email}"/>
				<i class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></i>
			</div>
			<div class="form-group">
				<label><i>*</i>真实姓名</label>
				<input type="text" th:field="*{realName}"/>
				<i class="error" th:if="${#fields.hasErrors('realName')}" th:errors="*{realName}">必填</i>
			</div>
			<div class="form-group">
				<label><i>*</i>性别</label>
				<input type="radio" th:field="*{sex}" value="MALE"/>男
				<input type="radio" th:field="*{sex}" value="FEMALE"/>女
				<i class="error" th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}">必填</i>
				
			</div>
			<div class="hd resg-hd">
				<span>详细信息</span>
			</div>
			<div class="form-group">
				<label><i>*</i>单位</label>
				<input type="text" th:field="*{company}"/>
				<i class="error" th:if="${#fields.hasErrors('company')}" th:errors="*{company}">必填</i>
			</div>
			<div class="form-group">
				<label><i>*</i>部门</label>
				<input type="text" th:field="*{department}"/>
				<i class="error" th:if="${#fields.hasErrors('department')}" th:errors="*{department}">必填</i>
			</div>
			<div class="form-group">
				<label><i>*</i>职务</label>
				<input type="text" th:field="*{position}"/>
				<i class="error" th:if="${#fields.hasErrors('position')}" th:errors="*{position}">必填</i>
			</div>
			<div class="form-group">
				<label><i>*</i>企业电话</label>
				<input type="text" th:field="*{companyPhone}"/>
				<i class="error" th:if="${#fields.hasErrors('companyPhone')}" th:errors="*{companyPhone}">必填</i>
			</div>
			<div class="form-group">
				<label>传真</label>
				<input type="text" th:field="*{fax}"/>
			</div>
			<div class="form-group">
				<label><i>*</i>省/市</label>
				<select th:field="*{province}">
					<option value="">选择省份/市</option>
					<option th:each="province:${provinces}" th:text="${province.name}" th:value="${province.id}"></option>
				</select>
				<select th:field="*{city}">
					<option value="">选择城市</option>
					<option th:if="${citys!=null}" th:each="city:${citys}" th:text="${city.name}" th:value="${city.id}"></option>
				</select>
				<i class="error" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></i>
			</div>
			<div class="form-group">
				<label><i>*</i>详细地址</label>
				<input type="text" th:field="*{address}"/>
				<i class="error" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></i>
			</div>
			<div class="form-group">
				<label><i>*</i>邮政编码</label>
				<input type="text" th:field="*{code}"/>
				<i class="error" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></i>
			</div>
			<div class="hd resg-hd">
				<span>行业信息</span>
				<i class="error" th:if="${#fields.hasErrors('industryInfo')}" th:errors="*{industryInfo}" style="color: red;">必填</i>
			</div>
			<div class="form-group">
				<ul>
					<li th:each="info:${infos}" >
						<input type="radio" th:field="*{industryInfo}" th:value="${info.id}"/><i th:text="${info.name}"></i>
					</li>
				</ul>
			</div>
			<div class="accept-btn">
				<input type="checkbox" id="agreement" checked="checked"/>我已阅读并接受《服务协议》
			</div>
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<div class="resg-btn">
				<button id="regirect" style="cursor:pointer">注册</button>
			</div>
		</form>
	</div>
</body>
</html>