<div class="contentpanel">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
	<alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="1000" close="closeAlert($index)">
		{{alert.msg}}
	</alert>
	<form class="form-horizontal" name="infoForm" ng-submit="submit()" novalidate="true">
		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-1">标题</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" name="title" ng-model="item.title" ng-required="true" ng-maxlength="50" />
					<span ng-show="infoForm.title.$error.required" class="text-danger">请输入商品名称</span>
					<span ng-show="infoForm.title.$error.maxlength" class="text-danger">长度应小于50</span>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-1">摘要</label>
				<div class="col-sm-11">
					<input type="text" class="form-control" name="summary" ng-model="item.summary" ng-maxlength="100" />
					<span ng-show="infoForm.summary.$error.required" class="text-danger">请输入摘要</span>
					<span ng-show="infoForm.summary.$error.maxlength" class="text-danger">长度应小于100</span>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-1">分类</label>
				<div class="col-sm-3">
					<select ng-model="item.category" name="category" ng-options="c.id as c.name for c in categories" class="form-control" ng-required="true"></select>
					<span ng-show="infoForm.category.$error.required" class="text-danger">请输入商品分类</span>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-1">内容</label>
				<div class="col-sm-10">
					<textarea name="content" ckeditor="editorOptions" ng-model="item.content" ng-required="true"></textarea>
					<span ng-show="infoForm.content.$error.required" class="text-danger">请输入内容</span>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<input type="submit" ng-disabled="disabled" class="btn btn-primary col-xs-offset-4" value="提交" />
		</div>
	</form>
</div>
