<div class="contentpanel">
    <form class="form-inline">
        <div class="form-group company-select">
            <a class="btn btn-success btn-sm">导入</a>
        </div>
        <div class="form-group company-select">
            <select ng-model="opt.firstCategory" ng-change="findByParent(opt.firstCategory)" ng-options="c.id as c.name for c in firstCategories">
            </select>
        </div>
        <div class="form-group company-select">
            <select ng-model="opt.secondCategory" ng-change="findThirdCategory(opt.secondCategory)" ng-options="s.id as s.name for s in secondCategories">
            </select>
        </div>
        <div class="form-group company-select">
            <select ng-model="opt.thirdCategory" ng-options="s.id as s.name for s in thirdCategories">
            </select>
        </div>
        <div class="form-group company-select">
            <select ng-model="opt.state">
                <option value="down">已下架</option>
                <option value="up">已上架</option>
                <option value="examine">待审核</option>
                <option value="not">未通过</option>
            </select>
        </div>
        <div class="form-group company-select">
            <button ng-click="search()" class="btn btn-primary btn-sm">搜索</button>
        </div>
    </form>
    <table class="table table-bordered mb30">
        <thead>
            <tr>
                <th>序号</th>
                <th>一级分类</th>
                <th>二级分类</th>
                <th>三级分类</th>
                <th>名称</th>
                <th>价格</th>
                <th>提交日期</th>
                <th>状态</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items" ng-click="view(item)">
                <td>{{$index+1}}</td>
                <td>{{item.firstCategoryName}}</td>
                <td>{{item.secondCategoryName}}</td>
                <td>{{item.thirdCategoryName}}</td>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td>{{item.createdTime|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{item.stateName | stateFilter}}</td>
            </tr>
        </tbody>
    </table>
    <div class="pagenumQu">
        <pagination boundary-links="true" total-items="total" items-per-page="15" max-size="7" ng-model="page" ng-change="search(page)"></pagination>
    </div>
</div>
