<div class="contentpanel">
	<form class="form-inline">
		<div class="form-group company-select">
			<a class="btn btn-success btn-sm">导入</a>
		</div>
		<div class="form-group company-select">
			<select>
				<option>产品类型</option>
				<option>111</option>
				<option>2222</option>
			</select>
		</div>
		<div class="form-group company-select">
			<select>
				<option>一级分类</option>
				<option>111</option>
				<option>2222</option>
			</select>
		</div>
		<div class="form-group company-select">
			<select>
				<option>二级分类</option>
				<option>111</option>
				<option>2222</option>
			</select>
		</div>
		<div class="form-group company-select">
			<select>
				<option>状态</option>
				<option>111</option>
				<option>2222</option>
			</select>
		</div>
	</form>
	<table class="table table-bordered mb30">
		<thead>
			<tr>
				<th>序号</th>
				<th>产品类型</th>
				<th>一级分类</th>
				<th>二级分类</th>
				<th>名称</th>
				<th>价格</th>
				<th>提交日期</th>
				<th>状态</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>ddddddd</td>
				<td>fffffff</td>
				<td>1215456315</td>
				<td>dadsadsad</td>
				<td>2500</td>
				<td>2015-02-06  12:05:20</td>
				<td>已上架</td>
			</tr>
		</tbody>
	</table>
</div>
