<div class="contentpanel">
    <table class="table table-bordered mb30">
        <thead>
            <tr>
                <th>序号</th>
                <th>图片</th>
                <th>链接</th>
                <th>提交日期</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td ng-click="view(item)">{{$index+1}}</td>
                <td>{{item.imgUrl}}</td>
                <td>{{item.href}}</td>
                <td>{{item.updatedTime}}</td>
            </tr>
        </tbody>
    </table>
    <div class="pagenumQu">
        <pagination total-items="total" items-per-page="15" max-size="7" ng-model="page" ng-change="search()"></pagination>
    </div>
</div>
