<div class="contentpanel">
    <table class="table table-bordered mb30">
        <thead>
            <tr>
                <th>序号</th>
                <th>图片</th>
                <th>链接</th>
                <th>提交日期</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items" ng-click="view(item)">
                <td>{{$index+1}}</td>
                <td>
                	<img ng-src="{{item.imageUrl}}" width="120" height="120" />
                </td>
                <td>{{item.href}}</td>
                <td>{{item.updatedTime|date:'yyyy-MM-dd HH:mm:ss'}}</td>
            </tr>
        </tbody>
    </table>
</div>
