<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="description" content=""/>
<title>招贤纳士</title>
<link type="text/css" rel="stylesheet" th:href="@{/css/global.css}"/>
<script type="text/javascript" th:src="@{/js/jquery-min.js}"></script>
<script  th:src="@{/js/script.js}"></script>
</head>
<body>
<div th:include="head/head">Head</div>
<div class="wrapper h400">
		<div th:include="productcategory/secondCategories">Head</div>
		<div class="crumb news-crumb">
			<a href="/">首页</a>
			<i>></i>
			<i>招贤纳士</i>
		</div>	
		<div class="mainwrapper clearfix">
			<div class="aside fl">
				<a href="/about">公司简介</a>
				<a href="/statement">法律声明</a>
				<a class="active">招贤纳士</a>
				<a href="/contactUs">联系我们</a>
				<a href="/problems">常见问题</a>
			</div>
		</div>
	</div>
	<div th:include="footer/footer"></div>
</body>
</html>