<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content=""/>
  <title>行业要闻详细</title>
  <link type="text/css" rel="stylesheet" th:href="@{/css/global.css}"/>
  <script type="text/javascript" th:src="@{/js/jquery-1.11.2.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
   <meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
  <script th:src="@{/js/script.js}"></script>
    <script type="text/javascript">
	$(function() {
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");

		$(document).ajaxSend(function(e, xhr, options) {
			xhr.setRequestHeader(header, token);
		});
	});
</script>
</head>
<body>
	<div th:include="head/head">Head</div>
	<!-- header -->
	<div class="wrapper h400">
		<div th:include="productcategory/secondCategories">Head</div>
		<div class="crumb news-crumb">
			<a href="/">首页</a>
			<i>></i>
			<a href="/informationCategorys/7" th:if="${pc.id}==7">行业要闻</a>
			<a href="/informationCategorys/8" th:if="${pc.id}==8">新品成果</a>
			<a href="/informationCategorys/9" th:if="${pc.id}==9">厂商动态</a>
		</div>	
		<div class="mainwrapper clearfix">
			<div class="news-dtl-wrap">
				<h3 class="ft16 gray-deeply center" th:text="${information.title}">中国首个治疗尿急尿频的透皮贴剂即将面世</h3>
				<div class="dtl-tag gray-hd">
					<span>发布于 <i th:text="${#dates.format(information.createdTime, 'yyyy-MM-dd HH-mm-ss')}"></i> </span>
					<span>浏览<i th:text="${information.viewCount}">1212</i>次</span>	
					<span> 来源 : <i th:text="${information.createBy}"></i></span>
				</div>
				<div class="dtl-txt" th:utext="${information.content.content}">
				</div>
			</div>
			
		</div>
	</div>
	<div th:include="footer/footer"></div>
</body>
</html>	