<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Insert title here</title>
<script src="/js/jquery-1.11.2.min.js"></script>
<script>
	$(function() {
		$('#approve').click(function(){
			$.ajax({
				type:'post',
				url:'/checkUsers',
				data:{id:0,state:1},
				success:function(response){
					console.log(response);
				}
			});
		});
	});
</script>
</head>
<body>
	<div th:object="${provider}">
		<p th:text="*{name}"></p>
	</div>	
	<button id="approve">check</button>
</body>
</html>