        <div class="modal-body">
            <div class="row form-horizontal">
            	<div class="col-sm-6">
            		<div class="form-group">
	                    <label class="control-label col-sm-2"> 商品名称 </label>
	                    <div class="col-sm-6">
	                        <input class="form-control" disabled="true" ng-value="item.name" />
	                    </div>
	                </div>
	                <div class="form-group">
	                    <label class="control-label col-sm-2"> 价格 </label>
	                    <div class="col-sm-6">
	                        <input class="form-control" disabled="true" ng-value="item.price" />
	                    </div>
	                </div>
                	<div class="form-group">
	                    <label class="control-label col-sm-2"> 一级分类 </label>
	                    <div class="col-sm-6">
	                        <input class="form-control" disabled="true" ng-value="item.firstCategoryName" />
	                    </div>
	                </div>
	                <div class="form-group">
	                    <label class="control-label col-sm-2"> 二级分类 </label>
	                    <div class="col-sm-6">
	                        <input class="form-control" disabled="true" ng-value="item.secondCategoryName" />
	                    </div>
	                </div>
	                <div class="form-group">
	                    <label class="control-label col-sm-2"> 型号 </label>
	                    <div class="col-sm-6">
	                        <input class="form-control" disabled="true" ng-value="item.modal" />
	                    </div>
	                </div>
            	</div>
            	<div class="col-sm-6">
	                <div class="form-group">
	                    <label class="control-label col-sm-2"> 规格 </label>
	                    <div class="col-sm-6">
	                        <input class="form-control" disabled="true" ng-value="item.specifications" />
	                    </div>
	                </div>
            		<div class="form-group">
	                    <label class="control-label col-sm-2"> 状态 </label>
	                    <div class="col-sm-6">
	                        <input class="form-control" disabled="true" ng-value="item.state|productStateFilter" />
	                    </div>
	                </div>
	                <div class="form-group">
	                    <label class="control-label col-sm-2"> 产地 </label>
	                    <div class="col-sm-6">
	                        <input class="form-control" disabled="true" ng-value="item.original|originalFilter" />
	                    </div>
	                </div>
	                <div class="form-group">
	                    <label class="control-label col-sm-2"> 上架日期 </label>
	                    <div class="col-sm-6">
	                        <input class="form-control" disabled="true" ng-value="item.authenticatedTime|date:'yyyy-MM-dd HH:mm:ss'" />
	                    </div>
	                </div>
	                <div class="form-group">
	                    <label class="control-label col-sm-2"> 标签 </label>
	                    <div class="col-sm-6">
	                        <input class="form-control" disabled="true" ng-value="item.label" />
	                    </div>
	                </div>
            	</div>            	
            </div>               
        </div>
