<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content=""/>
  <title>仪器分类</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}"/>
  <script type="text/javascript" th:src="@{/js/jquery-1.11.2.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/script.js}"></script>
  <meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <script type="text/javascript">
	$(function() {
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");

		$(document).ajaxSend(function(e, xhr, options) {
			xhr.setRequestHeader(header, token);
		});
	});
</script>
</head>
<body>
	<div th:include="head/head">Head</div>
	<!-- header -->
	<div class="wrapper">
		<div class="products">
			<div class="sort-wrap clearfix">
				<div class="sort-box fl">	
					<div class="sort-list" th:each="category:${categories}">
						<div class="sort-hd gray-hd"><a th:text="${category.name}"  th:href="@{'/products/_search?secondCategory='+${category.id}}"></a></div>
						<div class="sort-detail bodr">
							<i th:each="child:${category.categories}"><a th:text="${child.name}" th:href="@{'/products/_search?thirdCategory='+${child.id}}"></a><i>|</i></i>
						</div>
					</div>
					<div class="sort-list">					
						<div class="sort-hd gray-hd"><b>生物芯片</b></div>
						<div class="sort-detail bodr">
							<a>芯片扫描仪</a>
							<i>|</i>
							<a>芯片点仪 </a>
							<i>|</i>
							<a>生物芯片系统</a>
							<i>|</i>
							<a>芯片点样仪仪 </a>
							<i>|</i>
							<a>片系统</a>
							<i>|</i>
							<a>芯片点样仪 </a>
							<i>|</i>
							<a>生物芯片系统</a>
							<i>|</i>
							<a>芯片点仪 </a>
							<i>|</i>
							<a>生物芯片系统</a>
							<i>|</i>
							<a>芯片点样仪仪 </a>
							<i>|</i>
							<a>片系统</a>
							<i>|</i>
							<a>芯片点样仪 </a>
							<i>|</i>
							<a>生物芯片系统</a>
							<i>|</i>
							<a>其他</a>
						</div>
					</div>	
					<div class="sort-list">					
						<div class="gray-hd"><b>生物芯片</b></div>
						<div class="sort-detail bodr">
							<a>芯片扫描仪</a>
							<i>|</i>
							<a>芯片点仪 </a>
							<i>|</i>
							<a>生物芯片系统</a>
							<i>|</i>
							<a>芯片点样仪仪 </a>
							<i>|</i>
							<a>片系统</a>
							<i>|</i>
							<a>芯片点样仪 </a>
							<i>|</i>
							<a>生物芯片系统</a>
							<i>|</i>
							<a>其他</a>
						</div>
					</div>
					<div class="sort-list">					
						<div class="gray-hd"><b>生物芯片</b></div>
						<div class="sort-detail bodr">
							<a>芯片扫描仪</a>
							<i>|</i>
							<a>芯片点仪 </a>
							<a>其他</a>
						</div>
					</div>	
				</div>
				<div class="sort-box fl">						
					<div class="sort-list">					
						<div class="gray-hd"><b>生物芯片</b></div>
						<div class="sort-detail bodr">
							<a>芯片扫描仪</a>
							<i>|</i>
							<a>芯片点仪 </a>
							<i>|</i>
							<a>生物芯片系统</a>
							<i>|</i>
							<a>芯片点样仪仪 </a>
							<i>|</i>
							<a>片系统</a>
							<i>|</i>
							<a>芯片点样仪 </a>
							<i>|</i>
							<a>生物芯片系统</a>
							<i>|</i>
							<a>其他</a>
						</div>
					</div>
					<div class="sort-list">					
						<div class="gray-hd"><b>生物芯片</b></div>
						<div class="sort-detail bodr">
							<a>芯片扫描仪</a>
							<i>|</i>
							<a>芯片点仪 </a>
							<i>|</i>
							<a>生物芯片系统</a>
							<i>|</i>
							<a>芯片点样仪仪 </a>
							<i>|</i>
							<a>片系统</a>
							<i>|</i>
							<a>芯片点样仪 </a>
							<i>|</i>
							<a>生物芯片系统</a>
							<i>|</i>
							<a>芯片点仪 </a>
							<i>|</i>
							<a>生物芯片系统</a>
							<i>|</i>
							<a>芯片点样仪仪 </a>
							<i>|</i>
							<a>片系统</a>
							<i>|</i>
							<a>芯片点样仪 </a>
							<i>|</i>
							<a>生物芯片系统</a>
							<i>|</i>
							<a>其他</a>
						</div>
					</div>	
				</div>
				
			</div>
		</div>
		
	</div>
	<div class="footer">
		© 1998 - 2015 SJ Inc. All Rights Reserved
	</div>
</body>
</html>