<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content=""/>
  <title>仪器分类</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}"/>
  <script type="text/javascript" th:src="@{/js/jquery-1.11.2.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/script.js}"></script>
  <meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <script type="text/javascript">
	$(function() {
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");

		$(document).ajaxSend(function(e, xhr, options) {
			xhr.setRequestHeader(header, token);
		});
	});
</script>
</head>
<body>
	<div th:include="head/head">Head</div>
	<!-- header -->
	<div class="wrapper">
		<div class="products">
			<div class="sort-wrap clearfix">
				<div class="sort-box fl">	
					<div class="sort-list" th:each="category,categoryStat:${categories}" th:if="${(categoryStat.index*2) lt categories.size()}">
						<div class="sort-hd gray-hd"><a th:text="${category.name}"  th:href="@{'/products/_search?secondCategory='+${category.id}}"></a></div>
						<div class="sort-detail bodr">
							<i th:each="child:${category.categories}"><a th:href="@{'/products/_search?thirdCategory='+${child.id}}"></a><label  th:text="${child.name}"></label><span>&nbsp;|&nbsp;</span></i>
						</div>
					</div>
				</div>
				<div class="sort-box fl">						
					<div class="sort-list" th:each="category,categoryStat:${categories}" th:if="${categories.size()lt (categoryStat.index*2) }">
						<div class="sort-hd gray-hd"><a th:text="${category.name}"  th:href="@{'/products/_search?secondCategory='+${category.id}}"></a></div>
						<div class="sort-detail bodr">
							<i th:each="child:${category.categories}"><a th:text="${child.name}" th:href="@{'/products/_search?thirdCategory='+${child.id}}"></a><span>&nbsp;|&nbsp;</span></i>
						</div>
					</div>				
				</div>
			</div>
		</div>
	</div>
	<div th:include="footer/footer"></div>
</body>
</html>