<div class="category-con">
<script type="text/javascript" th:src="@{/js/productCategory.js}"></script>
            <div class="category category-nav"><a href="#">全部分类</a></div>
            <div class="category-list category-child">
                <ul>
                    <li>
                        <label class="icon-yq">仪器</label>
                        <p>
                            <a>影像系统</a>
                            <a>生物芯片</a>
                            <a>影像系统</a>
                            <a>生物</a>
                            <a>影像系统</a>
                            <a>生物芯片</a>
                            <a>生物芯片</a>
                        </p>
                        <div class="category-child-list" id="instruments">
                            </div>
                    </li>
                    <li>
                        <label class="icon-sj">试剂</label>
                        <p>
                            <a>影像系统</a>
                            <a>生物芯片</a>
                            <a>影像系统</a>
                            <a>生物</a>
                            <a>影像系统</a>
                            <a>生物芯片</a>
                            <a>生物芯片</a>
                        </p>
                        <div class="category-child-list" id="reagents">
                            </div>
                    </li>
                    <li>
                        <label class="icon-hc">耗材</label>
                        <p>
                            <a>影像系统</a>
                            <a>生物芯片</a>
                            <a>影像系统</a>
                            <a>生物</a>
                            <a>影像系统</a>
                            <a>生物芯片</a>
                            <a>生物芯片</a>
                        </p>
                        <div class="category-child-list" id="supplies">
                            </div>
                    </li>
                    <li>
                        <label class="icon-fw">服务</label>
                        <p>
                            <a>影像系统</a>
                            <a>生物芯片</a>
                            <a>影像系统</a>
                            <a>生物</a>
                            <a>影像系统</a>
                            <a>生物芯片</a>
                            <a>生物芯片</a>
                        </p>
                        <div class="category-child-list" id="servers">
                            </div>
                    </li>
                </ul>
            </div>
        </div>