<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content=""/>
  <title>检测应用详情</title>
  <meta name="_csrf" th:content="${_csrf.token}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}"/>
  <script type="text/javascript" th:src="@{/js/jquery-1.11.2.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/ajaxLogin-subject.js}"></script>
  <script type="text/javascript" th:src="@{/js/prompt.js}"></script>
  <script th:src="@{/js/silderBox.js}"></script>
  <script th:src="@{/js/script.js}"></script>
  		<script type="text/javascript">
            $(function() {
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");
                var id = $("meta[name='id']").attr("content");

                $(document).ajaxSend(function(e, xhr, options) {
                    xhr.setRequestHeader(header, token);
                });
                $("#addCart").loginBeforeAjaxSubject({
                	url : "/ajax/carts?multiple",
                	type : "post",
                	traditional:true,
                	dataType:"json",
                	success:function(data){
            			if(data.data=="login"){
            				alert("login");
            			}else if(data.data=="no authority"){
            				alert(data.data);
            			}else{
	            			var strs = "";
	            			var num =0;
	            			$(data).each(function(key,val){
	                     	var str = '<li id="cart'+val.productId+'"><div class="fl ct-img"><a href="/products/'+val.productId+'"><img width="50" height="50" src="'+val.image+'"/></a></div><div class="fl ct-name"><a href="/products/'+val.productId+'">'+val.name+'</a>'+
							'</div><div class="fr ct-detail"><span class="ct-price"><b>'+val.price+'</b>×<i id="cartNumber'+val.productId+'">'+val.num+'</i></span><br/><a class="fr cartRemove" data-id="'+val.productId+'">删除</a></div></li>';
							strs= strs+str;
							num++;
	            			});
	            			var cartUl = $("#cartUl");
	            			cartUl.empty();
	            			cartUl.append(strs);
	                    	var allNum = $("#allNum");
	                     	allNum.html(num);
	                     	var totalNum =$("#totalNum");
	                     	totalNum.html(num);
	                     	checksVal.length=0;
            			}
            		},error:function(data){
            		}
                });
                $(".checkAll").click(function(){
                	if ($(this).is(':checked')) {  
	                	var checks = $(this).parent().parent().find("ul").find("input[name='checks']");
	                	checks.prop('checked',true);
                	}else{
                		var checks = $(this).parent().parent().find("ul").find("input[name='checks']");
                    	checks.prop('checked',false);
                	}
                });
                $("[name='checks']").click(function(){
                	if($(this).is(':checked')){
                		var checks = $(this).parent().parent().find('[name="checks"]').not('input:checked');
                		if(checks.length==0){
                			$(this).parent().parent().parent().parent().find('.checkAll').prop('checked',true);
                		}
                	}else{
            			$(this).parent().parent().parent().parent().find('.checkAll').prop('checked',false);
            		}
                });
            });
</script>
</head>
<body>
	<div id="includeHeader" th:include="head/head">Head</div>
	<!-- header -->
	<div class="wrapper" th:object="${subject}">
		<div class="crumb news-crumb nobodr">
			<a>首页</a>
			<i>></i>
			<a>解决方案</a>
		</div>	
		<div class="mainwrapper clearfix">
			<div class="news-dtl-wrap bodr">
				<h3 class="ft16 gray-deeply center" th:text="${subject.name}"></h3>
				<div class="dtl-tag gray-hd">
					<span>发布于 <i th:text="${#dates.format(subject.createdTime, 'yyyy-MM-dd HH:mm:ss')}">2015年05月01日 12:20</i> </span>
					<span>浏览<i th:text="${subject.viewCount}">1212</i>次</span>	
					<span> 来源 : <i th:text="${subject.createdBy}">上海申捷卫生科1技</i></span>
				</div>
				<div class="dtl-txt" escapeXml="false" th:utext="${subject.content.content}">
				</div>			
				<div class="gray-hd ft14">设备方案</div>
				<div class="plans" th:if="${subject.getSolutions().size()!=0}" th:each="solution:${subject.getSolutions()}">
					<div><input class="checkAll fl" type="checkbox"/><h3 class="fl" th:text="${solution.name}"></h3></div>
					<div class="plans-list">
						<ul>
							<li th:if="${solution.getProducts().size()!=0}" th:each="product:${solution.getProducts()}">	
								<input type="checkbox"  name = "checks" th:value="${product.id}"/>
								<a th:href="'/products/'+${product.id}">
								<div class="fl">
									<img th:src="@{${product.coverImg}}" width="90" height="45"/>
								</div> 
								<div class="fl plans-dtl">
									<p>
										<label>参考报价：</label>
										<b class="red ft14" th:text="${product.price}">￥1500</b>
									</p>
									<p class="mt5" th:text="${product.name}" style="max-width: 100px;text-overflow: ellipsis;overflow: hidden;">GenePix A生物芯片扫描仪</p>
								</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<a class="add-cart ft16 mauto" id="addCart">加入购物车</a>
			</div>
		</div>
	</div>
	<div th:include="footer/footer"></div>
	<div class="prompt"></div>
	<div class="fixed"></div>
	<div class="hide-wrap logo-small bodr"></div>
</body>
</html>