<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>Insert title here</title>
		<link href="/css/style.default.css" rel="stylesheet"></link>
        <script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
	</head>
	<body class="signin">
    	<section>    		
			<div class="panel panel-signin">
				<div class="panel-body">
					<form th:method="post" th:object="${user}">
						<div class="form-group">
							<label>用户名</label>
							<div class="col-md-3">
								<input class="form-control" type="text" th:field = "*{name}"/>
							</div>
						</div>
						<div class="form-group">
							<label>密码</label>
							<div class="col-md-3">
								<input class="form-control" type="password" th:field = "*{password}" />
							</div>
						</div>
						<input type="submit" class="btn btn-success sub-btn" value="登录"/>
						
					</form>		
				</div>
			</div>
    	</section>
    </body>
</html>