<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		</meta>
		<meta name="_csrf" th:content="${_csrf.token}" />
		<meta name="_csrf_header" th:content="${_csrf.headerName}" />
		<title>Insert title here</title>
		<script type="text/javascript" th:src="@{/js/jquery-1.11.2.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/loginBeforeAjax.js}"></script>
		<script>
			$(function() {

				var token = $("meta[name='_csrf']").attr("content");
				var header = $("meta[name='_csrf_header']").attr("content");
				var id = $("meta[name='id']").attr("content");

				$(document).ajaxSend(function(e, xhr, options) {
					xhr.setRequestHeader(header, token);
				});

				$('#addPrefer').click(function(event) {
					event.preventDefault();
					var productId = $(this).attr('data-id');
					$.ajax({
						url : '/ajax/preferProduct/' + productId,
						type : 'post',
						data : {
							id : productId
						},
						success : function(text) {
							if (text == 'login') {
								$.ajax({
									url : '/ajaxLogin',
									success : function(text) {
										$('#loginForm').append($(text));
									}
								});
							}
						},
						error : function() {
							alert(22);
						}
					});
				});

				$('#addCart').loginBeforeAjax({
					url : '/ajax/cart',
					div : 'loginForm',
					data : function(self) {
						return {
							id : self.attr('data-id'),
							name : self.attr('data-name'),
							url : self.attr('data-url'),
							price : self.attr('data-price'),
							number:1
						};
					},
					success : function(res) {

					}
				});

				$('#loginForm').on('submit', 'form', function(event) {
					event.preventDefault();
					$.ajax({
						url : '/ajaxLogin',
						type : 'post',
						data : $(this).serialize()
					});
					return false;
				});
			});
		</script>
	</head>
	<body>
		<div th:object="${product}">
			<p th:text="*{id}">
				id
			</p>
			<p th:text="*{name}">
				id
			</p>
			<button id="addPrefer" th:attr="data-id=*{id}">
				addToPrefer
			</button>
			<button id="addCart" th:attr="data-id=*{id},data-name=*{name},data-url=*{url},data-price=*{price}" >
				addToCart
			</button>
		</div>
		<div id="loginForm"></div>
	</body>
</html>