<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="UTF-8" />
<title>仪器商品详情</title>
<link type="text/css" rel="stylesheet" th:href="@{/css/global.css}" />
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<script type="text/javascript" th:src="@{/js/jquery-1.11.2.min.js}"></script>
<script type="text/javascript" th:src="@{/js/prompt.js}"></script>
<script type="text/javascript" th:src="@{/js/jsRender.js}"></script>
<script type="text/javascript" th:src="@{/js/ajaxLogin-review.js}"></script>
<script type="text/javascript" th:src="@{/js/ajaxLogin-cart-product.js}"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
<script type="text/javascript" th:src="@{/js/ajaxLogin-collection-product.js}"></script>
<script type="text/javascript">
function showReview(productId){
	var reviews = $("#reviews"); 
	$("#gif").fadeIn();
	$.ajax({
		url : "/products/"+productId+"/reviews",
		type : "get",
		success : function(data){
			reviews.empty();
			reviews.append(data);
		}
	});
	$("#gif").fadeOut();
	$(".fixed").fadeOut();
}
	$(function() {
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		var id = $("meta[name='id']").attr("content");
		var ajaxStatus = "";

		$(document).ajaxSend(function(e, xhr, options) {
			xhr.setRequestHeader(header, token);
		});

		$('#reviewForm')
				.loginBeforeAjaxReview(
						{
							url : '/products/'
									+ $('#reviewForm').attr('data_id')
									+ '/reviews',
							div : 'reviews',
							data : $(this).serialize(),
							success : function(res) {
								if(res == "content is null"){
									promptError("请填写评论内容");
								}
								else if(res == "content is too long"){
									promptError("评论内容过长");
								}
								else if(res == "success"){
									var productId = $('#reviewForm').attr('data_id')
									showReview(productId);
									$("#content").val("");
									promptSuccess("评论成功");
								}
							}
						});
		$("#addCart").loginBeforeAjaxCart({
	             type : 'POST',
	             url : '/ajax/carts',
	             dataType: 'json',
	             data : {
	                 'productId' : $(this).attr("data-id"),
	                 'number' : $("#num").val()
	             },
	             success : function(data) {
	                 if (data.data == "no authority") {
	                	 promptError("对不起您没有权限");
	                 }else{
	                	 promptSuccess("已加入购物车");
	                 }
	                 $('#includeHeader').load('/head');
	             },
	             error : function(data) {
	            	 promptError("系统异常");
	             }
		});
		$("#collection").loginBeforeAjaxCollection({
			type : 'post',
			url : '/ajax/preferProduct',
			data : {
				'id' : $(this).attr("data-id")
			},
			success : function(data) {
				if (data == "no authority") {
					promptError("对不起您没有权限");
				} else if (data == "duplicate") {
					promptError("您已加入了收藏");
					$('.collect-num').html("已收藏");
					$('.collect-num').removeAttr("id");
				} else if (data == "success") {
					var collectionNum = $("#number");
					collectionNum.html(parseInt(collectionNum.html()) + 1);
					$('.collect-num').html("已收藏");
					$('.collect-num').removeAttr("id");
					promptSuccess("添加收藏成功");
				}
			},
			error : function(data) {
				promptError("系统异常");
			}
		});
		$(".addOne").click(function() {
			var numVal = $("#num").val();
			if(999 > numVal){
				$("#num").val(parseInt(numVal) + 1);
			}
		});
		$(".minusOne").click(function() {
			var numVal = $("#num").val();
			if (numVal > 1) {
				$("#num").val(parseInt(numVal) - 1);
			}
		});
		$("#num").change(function(){
			var val = $(this).val();
			if(1 > val){
				$(this).val(1);
				promptError('数量最少为1');
			}
			if(val>999){
				$(this).val(999);
				promptError('数量最多为999');
			}
		});
		$("#review").click(function(){
			var productId = $(this).attr("data-id");
			$(".fixed").fadeIn();
			showReview(productId);
		});
		$(".hide-wrap").on("click",".ajaxLogin-close",function(){
			$('.fixed').fadeOut();
			$('.hide-wrap').fadeOut();
			$('.hide-wrap').empty();
		});
		$("#subject").click(function(){
			var productId = $(this).attr("data-id");
			var subjects = $("#subjects");
			if(subjects.html().trim()==""){
				$(".fixed").fadeIn();
				$("#gif").fadeIn();
				$.ajax({
					url : "/products/"+productId+"/subjects",
					type : "get",
					success : function(data){
						var str = "";
						$.each(data,function(key,val){
							str = str + '<li><a href="/subjects/'+val.id+'" target="_blank"><div class="title ft16 text210">'+val.name+'</div>'
							+ '<div class="spe-pic"><img src="'+val.cover+'" width="210" height="175" /></div><div class="topic-detail">'+val.summary+'</div></a></li>';
						});
						subjects.append(str);
						$(".fixed").fadeOut();
						$("#gif").fadeOut();
					}
				});
			}
		});
	});
</script>
</head>
<body>
	<div id="includeHeader" class="header" th:include="head/head">Head</div>
	<!-- header -->
	<div id="loginForm"></div>
	<div class="wrapper" th:object="${product}">
		<div th:include="productcategory/secondCategories">Head</div>
		<div class="crumb">
			<a th:text="${product.firstCategory.name}" th:href="@{'/productCategories/'+${product.firstCategory.id}}"></a>
			<i>></i>
			<a th:href="@{'/products/_search?thirdCategory='+${product.thirdCategory.id}}" th:text="${product.thirdCategory.name}"></a>
		</div>
		<div class="goods-property bodr clearfix">
			<div class="fl pro-big">
				<img th:src="*{coverImg}" width="455" height="350" />
				<div class="collection" id="collection" th:attr="data-id=${product.id}">
					收藏 (人气<i th:text="${product.collectionCount}" id="number"></i>)
				</div>
			</div>
			<div class="fl pro-info">
				<div class="panel global-panel clearfix" style="margin-top: 0px;">
					<h3 class="ft16 tit" style="max-width: 500px;" th:text="${product.name}"></h3>
				</div>
				<div class="panel panel-price">
					<label>价格：</label><span>
					<b class="ft22 red">￥</b><b class="ft22 red" th:text="${product.price}">1500</b></span>
				</div>
				<div class="panel">
					<label>类型：</label><span th:text="${product.thirdCategory.name}">芯片扫描仪</span>
				</div>
				<div class="panel">
					<label>型号：</label><span th:text="${product.model}">GenePix
						4100 A</span>
				</div>
				<div class="panel">
					<label>品牌：</label><span th:text="${product.brand.name}">GenePix
						4100 A</span>
				</div>
				<div class="panel">
					<label>产地：</label> 	
					<span th:if="${product.placeOfProduction.toString()=='DOMESTIC'}" th:text="国产"></span> 
					<span th:if="${product.placeOfProduction.toString()=='IMPORTED'}" th:text="进口"></span>
				</div>
				<div class="panel">
					<label>产品规格：</label><span th:text="${product.specifications}">中国</span>
				</div>
				<div class="panel panel-tag">
					<label>标签：</label><span th:text="${product.label}">生物芯片</span>
				</div>
				<div class="panel">
					<label>上架时间：</label>
					<span th:text="${#dates.format(product.createdTime, 'yyyy-MM-dd')}">2015-05-18 17:25</span>
				</div>
				<div class="panel">
					<label>数量：</label> <span class="mu-amount"> 
					<span class="minusOne"> 
						<button class="">-</button>
					</span>
					<input type="text" class="amount-input" id="num" value="1" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" /> 
					<span class="addOne"> 
						<button class="">+</button>
					</span>
					</span><a class="add-cart ft16" id="addCart" th:attr="data-id=${product.id}">加入购物车</a>
				</div>
			</div>
		</div>
		<div class="layout">
			<div class="tabs-nav detail-nav bodr">
				<a class="active">商品详情</a><a id="subject" th:attr="data-id=__${product.id}__">相关解决方案</a><a id="review" th:attr="data-id=__${product.id}__">评论(<i th:text="${reviewCount}" id="reviewNum"></i>)
				</a>
			</div>
			<div class="tab-conts detail-con bodr">
				<div class="tab-panel global-box goods-detail" th:utext="${product.content.content}" style="max-width: 890px;overflow: hidden;"></div>
				<div class="tab-panel global-box topic-box hide">
					<ul class="ml-20" id="subjects">
					</ul>
				</div>
				<div class="tab-panel global-box comments hide">
					<div class="area-box">
						<div class="info-area bodr clearfix">
							<form id="reviewForm" th:attr="data_id=${product.id}">
								<div class="text-area fl">
									<textarea class="bodr" id="content" name="content" maxlength="4000000"></textarea>
								</div>
								<button class="btn green fr" id="reviewButton" type="submit">评论</button>
							</form>
						</div>
					</div>
					<div id="reviews"></div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="footer/footer"></div>
	<script></script>
	<div class="fixed"></div>
	<div class="gif" id = "gif"><img alt="" th:src="@{/img/loading.gif}"/></div>
	<div class="hide-wrap logo-small bodr">
	</div>
	<div class="prompt"></div>
</body>
</html>
