<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content=""/>
  <title>找回密码</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}"/>
  <script src="js/jquery-min.js"></script>
  <meta name="_csrf" th:content="${_csrf.token}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />
   	<script type="text/javascript">
		$(function() {
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
	
			$(document).ajaxSend(function(e, xhr, options) {
				xhr.setRequestHeader(header, token);
			});
			var valiPhone = false;
			$("#phone").change(function(){
				$("#phoneError").empty();
				valiPhone = false;
				var phone = $(this);
				if(phone.val() == "" || phone.val().length != 11){
					phone.after('<i class="error" id="phoneError">请确认手机号码</i>');
					return;
				}
				$.ajax({
					type : 'post',
					url : '/users/phone',
					data : {'phone':phone.val()},
					success : function(data){
						if(data=='true')
							phone.after('<i class="error" id="phoneError">该手机号码未注册</i>');	
						else
							valiPhone = true;
					}
				});
			});
			$(".tel-code").click(function(){
				var code = $(this);
				var phone = $("#phone");
				if(valiPhone==false){
					return;
				}
				code.attr("disabled","disabled");
				var time = 60;
				var timer = setInterval(function(){
					code.html(time + "秒后重发");
					time--; 
					if(time == -1){
						clearInterval(timer);
						code.removeAttr("disabled");
						code.html("获取验证码");
					}
				},1000);
				$.ajax({
					type : 'POST',
					url : '/forgetPws/captcha',
					data : {'phone':phone.val()},
					success : function(data){
						if(data=="success"){
							
						}else if(data == "limit"){
							phone.after('<i class="error" id="phoneError">短信次数已达上限</i>');
							code.removeAttr("disabled");
							code.html("获取验证码");
						}
					}
				});
			});
		});
	</script>
</head>
<body>
	<div class="resg-header">		
		<div class="head-nav">
			<div class="nav-box">
				<a href="/">首页</a>
				<i>|</i>
				<a href="/productCategory/1">仪器</a>
				<i>|</i>
				<a href="/productCategory/2">试剂</a>
				<i>|</i>
				<a href="/productCategory/3">耗材</a>
				<i>|</i>
				<a href="/productCategory/4">服务</a>
				<i>|</i>
				<a href="/subjects">解决方案</a>
			</div>
		</div>
		<div class="head-box clearfix">
			<a href="/" class="logo">
				<img th:src="@{/img/logo.png}" alt="logo" width="165" height="30"/>
				<span class="logo-hd"><img th:src="@{/img/logo-txt.png}" /></span>
			</a>
			<div class="head-menu-btn logo-menu">
				<a class="self-btn"></a>
				<a class="company-btn"></a>
			</div>
		</div>
	</div>
	<!-- header -->
	<div class="wrapper">		
		<div class="hd resg-hd">
			<span>找回密码</span>
		</div>
		<div class="mb150 find-password mauto">
			<form th:object="${form}" th:method = "post">
			<div class="form-group">
				<div class="fl">
				<label><i>*</i>手机号码</label>
					<input type="text" th:field="*{phone}"/>		
					<i class="error" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></i>
				</div>
			</div>
			<div class="form-group">
				<div class="fl">
				<label>验证码</label>
				<input type="text" th:field="*{captcha}" class="w115"/>
				<button class="tel-code" type="button">获取验证码</button>
				<i class="error" th:if="${#fields.hasErrors('captcha')}" th:errors="*{captcha}"></i>
				</div>
			</div>
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<button class="btn orange">下一步</button>		
			</form>
		</div>		
	</div>
	<div th:include="footer/footer"></div>
</body>
</html>