<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<link rel="stylesheet" type="text/css" th:href="@{/css/global.css}"></link>
  	<meta charset="UTF-8"/>
 	<meta name="viewport" content="width=device-width, initial-scale=1"/>
 	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
 	<meta name="description" content=""/>
 	<title>登录</title>
 	<script type="text/javascript" th:src="@{/js/jquery-1.11.2.min.js}"></script>
 	<script type="text/javascript">
		$(function() {
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
	
			$(document).ajaxSend(function(e, xhr, options) {
				xhr.setRequestHeader(header, token);
			});
		});
	</script>
</head>
<body>
<div class="resg-header">		
		<div class="head-nav">
			<div class="nav-box">
				<a href="/">首页</a>
				<i>|</i>
				<a href="/productCategory/1">仪器</a>
				<i>|</i>
				<a href="/productCategory/2">试剂</a>
				<i>|</i>
				<a href="/productCategory/3">耗材</a>
				<i>|</i>
				<a href="/productCategory/4">服务</a>
				<i>|</i>
				<a href="/subjects">专题</a>
			</div>
		</div>
		<div class="head-box clearfix">
			<a href="/" class="logo"><img th:src="@{/img/logo.png}" alt="logo" width="165" height="30"/></a>
			<div class="head-menu-btn resg-company regs">
				<a href="/signup?user" class="self-btn"></a>
				<a href="/signup?provider" class="company-btn"></a>
			</div>
		</div>
	</div>
	<!-- header -->
	<div class="wrapper">		
		<div class="hd resg-hd">
			<span>会员登录</span>
		</div>
		<div class="logo-wrap">
			<form th:method="post" th:object="${user}">
				<div class="form-group">
					<label>用户名</label>
					<input th:field="*{name}" type="text" placeholder="用户名"/>
				</div>
				<div class="form-group" style="width: 380px;">
					<label>密码</label>
					<input th:field="*{password}" type="password" placeholder="密码"/>
					<i class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></i>			
				</div>
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<div class="clearfix">
					<button class="btn orange fl">登录</button>
					<a class="fr blue" href="/forgetPw">忘记密码？</a>
				</div>
			</form>
		</div>		
	</div>
</body>
</html>