<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hello Spring Boot!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="/js/jquery-1.11.2.min.js"></script>
<script>
	$(function() {
		$('#captchaImg').click(function(event) {
			event.preventDefault();
			var self = $(this);
			var clone = self.clone(true);
			self.after(clone);
			self.remove();
		});
	});
</script>
</head>
<body>
	<div th:each="p:${lists.content}">
		<p th:text="${p.product.name}">123</p>
	</div>
</body>
</html>