<div class="contentpanel">
    <form class="form-inline">
        <div class="form-group">
            <a class="btn btn-success btn-sm" data-toggle="modal" data-target="#brandModal" ng-click="create()">添加</a>
        </div>
    </form>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>序号</th>
                <th>品牌名称</th>
                <th>logo</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items" >
                <td ng-click="view(item)">{{$index+1}}</td>
                <td>{{item.title}}</td>
                <td>
                    <img ng-src="{{item.cover}}" width="120" height="120" />
                </td>
                <td>{{item.state|activeFilter}}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" ng-click="delete(item)">
                        {{item.state|reverseActiveFilter}}
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="pagenumQu">
        <pagination total-items="total" items-per-page="15" max-size="7" ng-model="page" ng-change="search()"></pagination>
    </div>
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            是否冻结/解冻
        </div>
        <div class="modal-body">
            {{item.name}}
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>
