<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <form class="form-horizontal w400">
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-sm-2">标题</label>
                        <div class="col-sm-6">
                            <input class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">图片</label>
                        <div class="col-sm-6">
                            <input type="file" file-upload="upload" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary">
                添加
            </button>
        </div>
    </div>
</div>
